.page-new {margin-top:1000px}
.hidden2 {display:none}
.dropdown-menu a.delete {color:red}

#projectL {margin:4ex 8ex 6ex 6ex}
#projectL .project {margin-top:4ex}
#projectL .project .title {font-size:250%}
#projectL .project .details {color:#444}

#projectC {margin-top:6ex}
#projectC .form-group {padding-left:0}

#ucl-p {margin-top:6ex}
#ucl-p h3 {font-weight:bold}
#ucl {margin-top: 4ex}
#ucl table {width:100%}
#ucl td.l {vertical-align:top; text-align:right; padding-right:1.6ex; width:14ex; _background:#eef}
#ucl td.l .dropdown-menu * {text-align:left; padding-right:0}
#ucl td.r {vertical-align:top; padding-bottom:2ex; _background:#fef}
#ucl .view-mode .view a.title {font-size:120%; line-height:1em; color:#4183C4; font-weight:bold}
#ucl .view-mode .view .detail {font-size:70%; color:#888}

#usecaseC {margin-top:2ex}

#shares h3 {font-weight:bold}
#shares .name {_padding-top:1ex; _background:#fef}
#shares .name a {font-size:140%; font-weight:bold; color:#4183C4}
#shares .url {width:56ex; margin-top:0.2ex}
#shares .url .urltxt {font-family:monospace; background:white; cursor:text}
#shares .views {_background:#eef; font-size:100%; color:#888; margin-top:0.5ex}
#shares li {padding-top:3ex}
#shares table {width:100%}
#shares td.l {vertical-align:top; text-align:right; padding-right:1.6ex; width:14ex; _background:#eef; padding-top:0.6ex;}
#shares td.l .dropdown-menu * {text-align:left; padding-right:0; padding-top:0.6ex}
#shares td.r {vertical-align:top; _background:#fef}

#page-shareCU {margin-bottom:2.5ex}

#page-presmode nav ol {margin-left:1ex}
#page-presmode nav a {font-size:110%; line-height:1.6em}
#page-presmode main {margin-top:4em}
#page-presmode main article + article {margin-top:6em}
#page-presmode .fvs th, #page-presmode .fvs td {vertical-align:top}
#page-presmode .fvs > tr {border-top:1px solid #ccc; border-bottom:1px solid #ccc}
#page-presmode .fvs > tr > th {width:18ex; font-weight:normal}
#page-presmode .fvs > tr > td {padding-left:2ex}
#page-presmode .fvs > tr > th ,
#page-presmode .fvs > tr > td {padding-top:0.3ex; padding-bottom:0.3ex}
#page-presmode .fvs img {width:100%; max-width:100%}
#page-presmode .fvs td > ul {padding-left:2ex}
#page-presmode *:not(a) {color:black !important}
#page-presmode .steps th {white-space:nowrap}
#page-presmode .steps td {width:100%}
#page-presmode .steps * {line-height:1.168em}
#page-presmode .steps .lvl-0 >tbody> tr:not(.ind) td {font-weight:bold; padding-left:0.5ex}
#page-presmode .steps .ind table {margin-left:2ex}
#page-presmode .steps .ind .ind table {margin-left:5ex}
#page-presmode .steps .ind th {font-weight:normal}
#page-presmode .steps .ind td {padding-left:1.2ex}
#page-presmode .fvs a.step:not(:hover) ,
#page-presmode .fvs a.uc:not(:hover) {_color:black; _text-decoration:underline; border-bottom:1px dotted}
#page-presmode .steps .highlight {_font-weight:bold; background:#ffc}
