$indent: 1cm

.step
  margin: 10px
  background: #eee
  form
    display: inline

@for $i from 0 through 8
  [data-lvl="#{$i}"]
    padding-left: $i * $indent

.step[data-lvl="0"] .indentDec
  display: none

.step:first-child,
.step[data-lvl="0"]+.step[data-lvl="1"],
.step[data-lvl="1"]+.step[data-lvl="2"],
.step[data-lvl="2"]+.step[data-lvl="3"],
.step[data-lvl="3"]+.step[data-lvl="4"],
.step[data-lvl="4"]+.step[data-lvl="5"],
.step[data-lvl="5"]+.step[data-lvl="6"],
.step[data-lvl="6"]+.step[data-lvl="7"],
.step[data-lvl="7"]+.step[data-lvl="8"],
  .indentInc
    display: none
