<?xml version="1.0" encoding="UTF-8"?>
<configuration
    xmlns="http://ch.qos.logback/xml/ns/logback"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level [%-34logger{34}] %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>

  <appender name="FILE.LOG" class="ch.qos.logback.core.FileAppender">
    <file>/tmp/shipreq-test-webapp-server.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%-50logger{50}] {%thread} %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="net.liftmodules.scamljade" level="INFO" />
  <logger name="org.fusesource.scalate" level="INFO" />
  <logger name="org.apache.commons" level="WARN" />
  <logger name="shipreq" level="DEBUG" />

  <root level="INFO">
    <!--<appender-ref ref="STDOUT"/>-->
    <!--<appender-ref ref="FILE.LOG"/>-->
  </root>

</configuration>
