!!! 5
%html
  %head
    -# %meta(http-equiv="refresh" content="1")
    %title SHIPREQ PHASE-2 PROTOTYPE
    :css
      body {padding-bottom:12em}
      table {border-collapse: collapse}
      th,td {border: solid 1px #000; padding: 1px 4px}
      .todo {color:#d00}
      .notes {color:#338; margin-top: 2em; margin-left: -3em; font-style:italic}
      .notes ol, .notes ul {margin-top:0.2em}
      section.screen {border-top: solid 1px black; margin-top: 8em; padding-top: 0.7em; padding-left: 4em}
      section.screen > a h1 {margin-top: 0; margin-left: -2.6em}
      textarea.incmp, span.incmp {color:#c00}
      span.incmp-dull {color:#777}
      section.group {border:dashed 1px #777; padding:1ex; margin: 1.3em 0}
      .empty {background:#c66}
      .fixpre pre {margin-top:0; margin-bottom:0}
      .na, .na * {color:#777 !important; text-decoration:line-through !important}
      .subscreen {padding-top:1.6em}
      th.l {text-align:left}
      .shrna {text-align:center; color:#888}
      .focusrow, .focuscell {border: solid 2px #008}
      .focusrow td {background: #f4f4ff}
      .left-th th {text-align:left}
      .l1 {padding-left:4ex}
      .l2 {padding-left:8ex}
      .del, .del * {opacity:0.5; _color:#666 !important; text-decoration:line-through !important}
      .off, .off *:not(select) {color:#5a5a5a}

      .no-border td, .no-border th {border:none}
      .req-detail .x {border:none; vertical-align:top}
      .req-detail .tt {background:#ddd; text-align:center}
      .causality td {border:none; vertical-align:middle}
      .causality td.a {text-align:right}
      .causality td.b {font-weight:bold}

      .field-reqtypes label {margin-right: 1.2ex}

      .cfggrp .l2 .n {padding-left: 4ex}
      .cfggrp .e {text-align:center}
      .usage {text-align:right}

  %body
    %h1 SHIPREQ PHASE-2 PROTOTYPE

    %h3 High Frequency
    %ol
      %li
        %a(href="#llreqs") Common Req View &amp; Editor
      %li
        %a(href="#filters") Filters
      %li
        %a(href="#sort") Sort &amp; Columns
    %h3 Medium Frequency
    %ol
      %li
        %a(href="#incmp") Issues
      %li
        %a(href="#grouping-browse") Tag Browser
    %h3 Low Frequency
    %ol
      %li
        %a(href="#fields") Cfg: Fields
      %li
        %a(href="#reqtypes") Cfg: Requirement Types
      %li
        %a(href="#grouping-cfg") Cfg: Tags
      %li
        %a(href="#incmp-cfg") Cfg: Issues
      %li
        %a(href="#incmp-loose") Loose Issue
      %li
        %a(href="#delete") Deleting Reqs

    -#==============================================================================================
    %section.screen
      %a#llreqs
        %h1 Common Req View &amp; Editor

      %div [Filter here]

      %div [Sort &amp; column critera]
        %button Reset

      %div
        %button Create header row
      %br
      %div
        New Requirement template:
        %div Req-Type: 
          %select
            %option CO
            %option(selected="selected") FR
            %option MF
        %div Implied by: ? ⇒
          %input(value="MF-12, MF-18")
        %div Text
          %input(value="When doing blah,")
        %div Priority
          %input(value="Medium Priority")
        %button Create
        %button Create under [incmp.tag.ap]
      %br

      %div
        %input(type="checkbox")
        Show deleted reqs

      %table(style="margin-top:1em")
        %tr
          %th
            %input(type="checkbox")
          %th Type
          %th ID
          %th Sem-ID
          %th ? ⇒
          %th Desc
          %th ⇒ ?
          %th Priority
          %th
        %tr
          %td
            %input(type="checkbox")
          %td SHR
          %td.shrna –
          %td incmp.tag
          %td.shrna –
          %td BA shall be able to specify incompletion tags in reqs.
          %td.shrna –
          %td.shrna –
          %td %button Detail (?)
        %tr
          %td
            %input(type="checkbox")
          %td FR
          %td FR-48
          %td(style="padding-left:2.3ex") ap
          %td UC-4
          %td.focuscell BA shall be able to specify incompletion tags in reqs.
          %td FR-264
          %td.empty
          %td %button Detail

      %div
        3 reqs selected.
        %button Copy
        %button Change Req-Type
        %button Change common sem-ID prefix
        %button Restore (deleted)

      %div(style="margin:1em 0")
        %div %strong Req view (integrate with focussed req &amp; editing somehow)
        %table.left-th.req-detail
          %tr
            %th.tt(colspan=2) Read-only
          %tr
            %th ID
            %td FR-48
              %span(style="color:#888; text-decoration:line-through; font-style:italic; margin-left:1.3ex") (BR-7)
          %tr
            %th Revision
            %td 34.2
          %tr
            %th Last Updated
            %td 37 min ago.
          %tr
            %th Referenced By
            %td FR-10, FR-189, QR-7.
          /%tr
            %th Causality
            %td.fixpre
              %pre MF-12 →       <strong>FR-48</strong> → FR-264
              %pre MF-4  → UC-4 ↗
          %tr
            %th Causality
            %td
              %table.causality
                %tr
                  %td.a MF-12 →<br>MF-4 → UC-4 →
                  %td.b MF-48
                  %td.c → FR-264
              %em (A graphviz SVG would be better actually.)
          %tr
            %th.tt(colspan=2) Editable
          %tr
            %th Req-Type
            %td FR
          %tr
            %th Sem-IDs
            %td incmp.tag.ap<br>stuff.track.ap
          %tr
            %th ?⇒
            %td UC-4
          %tr
            %th Tags
            %td Phase2
          %tr
            %th Desc
            %td.focuscell BA shall be able to specify incompletion tags in reqs.
          %tr
            %th Notes
            %td We should probably do all of the stuff with the things <span class="incmp">#TODO{confirm}</span>.
          %tr
            %th Priority
            %td.empty
          %tr
            %th ⇒?
            %td FR-264
          %tr
            %th
              %td
                %button Close Detail
                %button Delete


      .notes Notes.
        %ol
          %li Grid will be like Excel: click to focus, move around with kb, double-click or f2 to edit (inline editor).
          %li In the inline editor: esc cancels, return saves, ctrl-return or shift-return insert a CR into text.
          %li There will also be a key and/or button to bring up the full req editor where all fields are editable.
          %li Press ? on a focussed cell explains any abbreviated content. (Eg. MF-4 = Blahdy Blah)
        %ol
          %li Hover over MF-12 etc (like in template.?⇒) should display the req text. Click should change focus or maybe even bring up modal?
          %li In the dlg, UI should be the same? Move around with KB, etc. (?)


    -#==============================================================================================
    %section.screen
      %a#filters
        %h1 Filters

      %h3 UI #1: Simple filter
      %table.left-th
        %tr
          %th Req-Type
          %td
            <input type="checkbox"/> BR
            <input type="checkbox"/> CO
            <input type="checkbox"/> MF
            <input type="checkbox"/> FR
            <input type="checkbox" checked/> All
        %tr
          %th Tags
          %td
            %input(style="width:50ex" value="#v1.0 #pri=med")
            <input type="radio" checked/> Match any | <input type="radio"/> Match all
        %tr
          %th Implied By
          %td
            %input(style="width:50ex" value="MF-4 MF-12")
            <input type="radio"/> Match any | <input type="radio" checked/> Match all
        %tr
          %th Text
          %td
            %input(style="width:50ex" value="req-type")
            \ <input type="checkbox"/> Case-Sensitive

      %h3 UI #2: Advanced filter
      %div
        %textarea(rows=3 cols=100)
          {BR,CO} and #pri=high and implied by MF-{7,12} and #TODO and contains "req-type"
        %textarea(rows=3 cols=100)
          {BR,CO} #pri=high (implied by MF-7) (#TODO or (contains "req-type"))

      .notes Notes.
        %ol
          %li Two components with different goals.
            %ol
              %li A language to represent *any* criteria imaginable. Goal: expressivity.
              %li A simple UI for 80% of users to easily &amp; quickly accomplish 80%+ of typical filters. Goal: simplicity.
          %li When not editing the filter, it should take up as little space as possible. Therefore a single text representation + an edit button would probably be best.
          %li Issue filtering would be nice in the underlying expression syntax. Should not be part of the simple UI; there is a whole incompletions UI for that.


    -#==============================================================================================
    %section.screen
      %a#sort
        %h1 Sort &amp; Columns

      %table
        %tr
          %th Columns
          %th Sorting
        %tr
          %td
            %ol
              %li \<input type="checkbox" checked/> Column E [drag]
              %li \<input type="checkbox" checked/> Column F [drag]
              %li \<input type="checkbox" checked/> Column A [drag]
              %li \<input type="checkbox" checked/> Column B [drag]
              %li \<input type="checkbox" checked/> Column G [drag]
              %li.off \<input type="checkbox"/> Column C [drag]
              %li.off \<input type="checkbox"/> Column D [drag]
          %td
            %ol
              %li
                %select
                  %option Not used
                  %option(selected="selected") Δ Ascending
                  %option ∇ Descending
                \ Column A [drag]
              %li
                %select
                  %option Not used
                  %option(selected="selected") Δ Ascending
                  %option ∇ Descending
                \ Column C [drag]
              %li
                %select
                  %option Not used
                  %option Δ Ascending
                  %option(selected="selected") ∇ Descending
                \ Column E [drag]
              %li
                %select
                  %option Not used
                  %option(selected="selected") Δ Ascending
                  %option ∇ Descending
                \ Column G [drag]
              %li.off
                %select
                  %option Not used
                  %option Δ Ascending
                  %option ∇ Descending
                \ Column B [drag]
              %li.off
                %select
                  %option Not used
                  %option Δ Ascending
                  %option ∇ Descending
                \ Column D [drag]
              %li.off
                %select
                  %option Not used
                  %option Δ Ascending
                  %option ∇ Descending
                \ Column F [drag]

      .notes Notes.
        %ol
          %li Columns not being used are sorted alphabetically.
          %li Dragging something off, up into where things are on, also turns it on.
          %li Dragging something on, down into where things are off, turns it off.
          %li Custom fields have their own groupings &amp; implications. How to handle that?


    -#==============================================================================================
    %section.screen
      %a#incmp
        %h1 Issues

      %div [Filters here]
      %div Σ 29

      %div
        %button Create Loose Issue
        %button Field Cfg
        %button Tag Cfg
        %button Req-Type Cfg
        %em \ ← secondary goals

      %section.group
        %h3 Distribution View
        %table
          %tr
            %th Σ
            %th ID
            %th ReqText
          %tr
            %td 1
            %td Project Config
            %td
          %tr
            %td 2
            %td FR-49
            %td BA shall be able to see a list of UCs and the number of incompletions <span class="incmp">#TBD</span> in each <span class="incmp">#TODO{confirm}</span>.
          %tr
            %td 3
            %td FR-311
            %td
          %tr
            %td 8
            %td UC-3
            %td Eat Food.
          %tr
            %td 2
            %td Loose
            %td

      %section.group
        %h3 Incmp View
        %h5 &gt; Blank Fields (1)
        %table
          %tr
            %th ID
            %th Location
            %th Content
            %th In Context
          %tr
            %td UC-3
            %td 3.0.4.a
            %td %textarea
            %td %button Edit UC-3
        %h5 &gt; TODO (2)
        %table
          %tr
            %th ID
            %th Location
            %th Supp Info
            %th Context
          %tr
            %td FR-49
            %td Body
            %td
            %td …the number of UCs and the number of incompletions <span class="incmp">#TBD</span> in each <span class="incmp-dull">#TODO</span>.
          %tr
            %td FR-49
            %td Body
            %td confirm
            %td …of UCs and the number of incompletions <span class="incmp-dull">#TBD</span> in each <span class="incmp">#TODO</span>.
        %h5 &gt; Loose (1)
        %table
          %tr
            %td %textarea.incmp(rows=3 cols=80) Still need to analyse all the things with the stuff and write down the words.
            %td %button Resolve

      .notes Notes.
        %ol
          %li Distribution &amp; incmp views not simultaneously. Have a button or tab to flip between both.
          %li Incmp view sections will be collapsable.
          %li Details about what to show for each incompletion type in <code>system-wide.ods:Issues</code>.
          %li Might be an idea to have a "Resolved today" section, else resolve reqs disappear without a trace. One may not have meant to hit enter and undo would remove all changes, user just wants to find and add another word or something.


    -#==============================================================================================
    %section.screen
      %a#grouping-browse
        %h1 Tag Browser

      %div [Filter here]

      %h3 Tags
      %p
        %a(href="#") Priority
        \ [ALLOCATION GRAPH]
        %br
        3 sub-groupings. 320 direct applications.
      %p
        %a(href="#") Component
        \ [ALLOCATION GRAPH]
        %br
        4 sub-groupings. 320 direct applications.
      %p
        %a(href="#") Version
        \ [ALLOCATION GRAPH]
        %br
        6 sub-groupings. 320 direct applications.

      %h3 Req types that don't require implication
      %p
        %a(href="#") MF: Major Features
        \ [ALLOCATION GRAPH]
        %br
        6 sub-groupings. 320 direct applications.

      -#--------------------------------------------------------------------------------------------
      .subscreen
      %a#grouping-browse2
        %h1 Tag Browser (lvl 2+)

      %button Back to Top-Level
      %button Back to Parent grouping (when lvl is 3+)

      %div [Filter here]

      %h2 Priority
        %button Add Child
        %button Edit
        %button Delete
      %div [Σ ALLOCATION GRAPH]

      %div
        %input(type="checkbox")
        0 selected.
        %em\ (←Total selection)
      %div
        %button Apply ?⁺
        %button Remove {g|g∈Priority}
        %button Replace {g|g∈Priority} with ?⁺
      %div
        ?⁺
        %input(placeholder="Tag(s) to add")
      -#%div
        -#?⁻
        -#%input(value="Priority")

      %p
        %h4 Unapplied
        %div
          %button Apply ?⁺
          -#%button Remove (doesn't make sense here)
          -#%button Replace (doesn't make sense here)
        %table
          %tr
            %th
              %input(type="checkbox")
            %th ID
            %th Sem-ID
            %th ? ⇒
            %th Desc
            %th ⇒ ?
            %th Priority
          %tr
            %td
              %input(type="checkbox")
            %td FR-48
            %td incmp.tag.ap
            %td UC-4
            %td BA shall be able to specify incompletion tags in reqs.
            %td FR-264
            %td

      %p
        %h4
          %a(href="#") Low Priority
          (← click rescopes)
          %button Edit
          %button Delete
        /%div
          %button Apply ?⁺
          %button Remove LowPri/?⁻
          %button Replace LowPri/?⁻ with ?⁺
        %div
          %button Remove LowPri
          %button Replace LowPri with ?⁺
        %table
          %tr
            %th
              %input(type="checkbox")
            %th ID
            %th Sem-ID
            %th ? ⇒
            %th Desc
            %th ⇒ ?
            %th Priority
          %tr
            %td
              %input(type="checkbox")
            %td FR-50
            %td incmp.tag.ap
            %td MF-5
            %td BA shall be able to specify incompletion tags in reqs.
            %td
            %td Low Priority

      -#--------------------------------------------------------------------------------------------
      .subscreen
      %a#impl-browse2
        %h1 Implication Browser (lvl 2 only)

      %button Back to Top-Level
      %button.na Back to Parent grouping (when lvl is 3+)

      %div [Filter here]

      %h2 MF: Major Features
        %button Add MF
        %button Edit
        %button Delete
      %div [Σ ALLOCATION GRAPH]

      %div
        %input(type="checkbox")
        0 selected.
        %em\ (←Total selection)
      %div
        %button Apply ?⁺
        %button Remove all direct MF implications
        %button Replace all direct MF implications with ?⁺
      %div
        ?⁺
        %input(placeholder="Tag(s) to add")
      -#%div
        -#?⁻
        -#%input(value="Priority")

      %p
        %h4 Not implied by an MF
        %div
          %button Apply ?⁺
          -#%button Remove (doesn't make sense here)
          -#%button Replace (doesn't make sense here)
        %table
          %tr
            %th
              %input(type="checkbox")
            %th ID
            %th Sem-ID
            %th ? ⇒
            %th Desc
            %th ⇒ ?
            %th Priority
          %tr
            %td
              %input(type="checkbox")
            %td FR-48
            %td incmp.tag.ap
            %td UC-4
            %td BA shall be able to specify incompletion tags in reqs.
            %td FR-264
            %td

      %p
        %h4
          MF-1: Import The Things With The Stuff
          %button Edit
          %button Delete
        /%div
          %button Apply ?⁺
          %button Remove LowPri/?⁻
          %button Replace LowPri/?⁻ with ?⁺
        %div
          %button Remove MF-1
          %button Replace MF-1 with ?⁺
        %table
          %tr
            %th
              %input(type="checkbox")
            %th ID
            %th Sem-ID
            %th ? ⇒
            %th Desc
            %th ⇒ ?
            %th Priority
          %tr
            %td
              %input(type="checkbox")
            %td FR-50
            %td incmp.tag.ap
            %td MF-5
            %td BA shall be able to specify incompletion tags in reqs.
            %td
            %td Low Priority

      .notes Notes.
        %table
          %tr
            %th
            %th Tags
            %th Implications
          %tr
            %th.l Top-Level: Graph segments
            %td grouping children
            %td active requirements of req type
          %tr
            %th.l Top-Level: Graph hover
            %td name, application count, %
            %td id, name, implication count, %
          %tr
            %th.l Top-Level: Graph click
            %td re-scope to subject child
            %td nothing
          %tr
            %th.l L2+: Graph segments
            %td children of subject grouping
            %td reqs of subject req type
          %tr
            %th.l L2+: Graph detail
            %td name, application count, %
            %td id, name, implication count, %
        %ol
          %li The goals are to browse, understand, edit distribution.
          %li Collapse/Expand for segment sections (h4's).
          %li Cannot reorder or restore groupings. Instead provide link ↔ proper cfg?
          %li Maybe the [Apply ?⁺] buttons can always be enabled and if you click without a ?⁺ specified, it just focusses the ?⁺ input.
              Actually, in that case, the button labels should change as the ?⁺ input changes, so [Apply Low Priority] buttons.


    -#==============================================================================================
    %section.screen
      %a#fields
        %h1 Cfg: Fields

      %select
        %option Text Field
        %option Tag Field
        %option Implication Field
        %option Step Graph
      %button Create
      %div
        %input(type="checkbox")
        Show deleted fields
      %table
        %tr
          %th Name
          %th Type
          %th RefKey
          %th Mandatory
          %th Req Types
          %th Usage
          %th Ctrls
        %tr
          %td %input(type="text" value="Description")
          %td Text
          %td %input(type="text" value="desc")
          %td %input(type="checkbox")
          %td Only: MF, UC.
          %td %a(href="#") 27
          %td
            [Drag]
            %button Delete
        %tr
          %td %select %option Priority&nbsp;&nbsp;
          %td Tag
          %td \-
          %td %input(type="checkbox" checked=1)
          %td All.
          %td %a(href="#") 432
          %td
            [Drag]
            %button Delete
        %tr
          %td %select %option Major Feature&nbsp;&nbsp;
          %td Implication
          %td \-
          %td %input(type="checkbox" checked=1)
          %td Only: FR, UC.
          %td %a(href="#") 50
          %td
            [Drag]
            %button Delete
        %tr
          %td Normal and Alternative Courses
          %td Step Tree
          %td \-
          %td \-
          %td Only: UC.
          %td %a(href="#") 132
          %td [Drag]
        %tr
          %td Exception Courses
          %td Step Tree
          %td \-
          %td \-
          %td Only: UC.
          %td %a(href="#") 34
          %td [Drag]
        %tr
          %td %input(type="text" value="Step Graph")
          %td Step Graph
          %td \-
          %td \-
          %td Only: UC.
          %td \-
          %td
            [Drag]
            %button Delete
        %tr
          %td %input(type="text" value="Notes and Issues")
          %td Text
          %td %input(type="text" value="notes")
          %td %input(type="checkbox")
          %td Not: BR.
          %td %a(href="#") 65
          %td
            [Drag]
            %button Delete

      %h4 Req Types form
      %div.field-reqtypes
        %div
          %label
            %input(type="radio")
            All.
          %label
            %input(type="radio" checked=1)
            Only…
          %label
            %input(type="radio")
            Not…
        %div
          %label
            %input(type="checkbox")
            %span(title="Business Requirement") BR
          %label
            %input(type="checkbox" checked=1)
            %span(title="Constraint") CO
          %label
            %input(type="checkbox" checked=1)
            %span(title="Functional Requirement") FR
          %label
            %input(type="checkbox")
            %span(title="Major Feature") MF
          %label
            %input(type="checkbox")
            %span(title="Solution Idea") SI
          %label
            %input(type="checkbox" checked=1)
            %span(title="Quality Requirement") QR

      .notes Notes.
        %ol
          %li The table has an <code>Option[Row]</code> which has focus, for which the Req Types field is expanded into a form.


    -#==============================================================================================
    %section.screen
      %a#reqtypes
        %h1 Cfg: Requirement Types

      %button Create
      %div
        %input(type="checkbox")
        Show deleted reqs
      %table
        %tr
          %th Mnemonic
          %th Name
          %th Implication Required
          %th Requirements
          %th Ctrls
        %tr
          %td %input(type="text" value="BR")
          %td %input(type="text" value="Business Requirement")
          %td %input(type="checkbox")
          %td 0
          %td %button Delete Forever
        %tr
          %td
            %input(type="text" value="MF")
            .del F
          %td %input(type="text" value="Major Feature")
          %td %input(type="checkbox")
          %td %a(href="#") 27
          %td %button Delete
        %tr
          %td %input(type="text" value="FR")
          %td %input(type="text" value="Functional Requirement")
          %td %input(type="checkbox" checked="checked")
          %td %a(href="#") 348
          %td %button Delete

      /.notes Notes.
        %ol


    -#==============================================================================================
    %section.screen
      %a#grouping-cfg
        %h1 Cfg: Tags

      %button Create
      %div
        %input(type="checkbox")
        Show deleted groupings

      %table.cfggrp
        %tr
          %th
          %th Name
          %th Key
          %th Enum
          %th Usage
          %th Ctrls
        %tr.l1
          %td
          %td.n %input(type="text" value="Priority")
          %td.k \-
          %td.e %input(type="checkbox" checked=1)
          %td.usage %a(href="#") 165
          %td %button Delete
        %tr.l2.focusrow
          %td ☰
          %td.n %input(type="text" value="High Priority")
          %td.k %input(type="text" value="pri=high")
          %td.e \-
          %td.usage %a(href="#") 80
          %td %button Delete
        %tr.l2
          %td ☰
          %td.n %input(type="text" value="Medium Priority")
          %td.k %input(type="text" value="pri=med")
          %td.e \-
          %td.usage %a(href="#") 21
          %td %button Delete
        %tr.l2
          %td ☰
          %td.n %input(type="text" value="Low Priority")
          %td.k %input(type="text" value="pri=low")
          %td.e \-
          %td.usage %a(href="#") 64
          %td %button Delete
        %tr.l1
          %td
          %td.n %input(type="text" value="Status")
          %td.k \-
          %td.e %input(type="checkbox")
          %td.usage 0
          %td %button Delete Forever
        %tr.l2
          %td ☰
          %td.n %input(type="text" value="WIP")
          %td.k %input(type="text" value="WIP")
          %td.e \-
          %td.usage 0
          %td %button Delete Forever

      %h3 Detail Editor
      %table
        -# %tr
          -# %th Name
          -# %td %input(value="High Priority")
        %tr
          %th Description
          %td %textarea
        -# %tr
          -# %th RefKey
          -# %td %input(value="pri=high")
        -# %tr
          -# %th Type
          -# %td Applicable
        -# %tr
          -# %th Enum
          -# %td %input(type="checkbox" disabled=1)
      %table
        %tr
          %th Parents
          %th Children
        %tr
          %td
            %ol
              %li
                Priority
                %button Remove
            %div
              %select %option Status&nbsp;&nbsp;&nbsp;
              %button Add Parent
          %td
            %ol
              %li
                ☰ High Priority
                %button Remove
              %li
                ☰ Medium Priority
                %button Remove
              %li
                ☰ Low Priority
                %button Remove
            %div
              %select %option Status&nbsp;&nbsp;&nbsp;
              %button Add Child

      .notes Notes.
        %ol
          %li Can drag from above into detail-editor's parent/child sections.


    -#==============================================================================================
    %section.screen
      %a#incmp-cfg
        %h1 Cfg: Issues

      %h3 User-Defined Issue Types
      %button Create
      %div
        %input(type="checkbox")
        Show deleted reqs
      %table
        %tr
          %th Name &amp; RefKey
          %th Desc
          %th Σ
          %th Ctrls
        %tr
          %td TODO
          %td Something that needs to be done.
          %td
            %a(href="#") 26
          %td
            %button Delete
        %tr
          %td
            %input(value="TBD")
          %td
            %textarea
              Pending discussion with a client.
          %td
            %a(href="#") 0
          %td
            %button Delete Forever

      %h3 Other Causes of Issue
      %table
        %tr
          %th Req-Types requiring implication
          %th Mandatory Fields
        %tr
          %td
            %div
              %input(type="checkbox")
              CO: Constraints
            %div
              %input(type="checkbox" checked="checked")
              FR: Functional Requirements
            %div
              %input(type="checkbox")
              MF: Major Features
            %div
              %input(type="checkbox" checked="checked")
              QR: Quality Requirements
          %td
            %div
              %input(type="checkbox")
              Description
            %div
              %input(type="checkbox" checked="checked")
              Priority
            %div
              %input(type="checkbox")
              MF
            %div
              %input(type="checkbox" checked="checked")
              Business Rules and Constraints
            %div
              %input(type="checkbox" checked="checked")
              Notes and Issues

      /.notes Notes.
        %ol


    -#==============================================================================================
    %section.screen
      %a#incmp-loose
        %h1 Loose Issue

      %table.no-border
        %tr
          %td
            %select
              %option TODO
              %option TBD
          %td
            %textarea
          %td
            %button Done
            %button Cancel

      .notes Notes.
        %ol
          %li Make this a modal dialog.


    -#==============================================================================================
    %section.screen
      %a#delete
        %h1 Deleting/Restoring Reqs

      %div
        %input(type="checkbox")
        \ All
      %div
        %input(type="checkbox" checked="checked" disabled="disabled")
        \ UC-4: Do The Stuff To The Things
      %div.l1
        %input(type="checkbox")
        \ FR-22: BA shall be able to drink the wake on peace in seven.
        %span(style="color:#922")\ Also implied by MF-6, <span class="del">UC-9</span>.
      %div.l1
        %input(type="checkbox" checked="checked")
        \ FR-48: BA shall be able to specify incompletion tags in reqs.
      %div.l2
        %input(type="checkbox" checked="checked")
        \ FR-241: BA shall be able to read the stuff on the box.

      %h3 Approach #2
      %table(style="margin-top:1em")
        %tr
          %td
            %input(type="checkbox" checked="checked" disabled="disabled")
            %input(type="checkbox" checked="checked")
          %td UC-4: Do The Stuff To The Things
          %td ⇐ MF-4
        %tr
          %td
            %input(type="checkbox" checked="checked" disabled="disabled" style="visibility:hidden")
            %input(type="checkbox" checked="checked")
          %td.l1 FR-22: BA shall be able to drink the wake on peace in seven.
          %td ⇐ <span class="del">UC-4</span>
        %tr
          %td
            %input(type="checkbox" checked="checked" disabled="disabled" style="visibility:hidden")
            %input(type="checkbox" checked="checked")
            %input(type="checkbox")
          %td.l1 FR-48: BA shall be able to specify incompletion tags in reqs.
          %td ⇐ MF-6, <span class="del">UC-4</span>
        %tr
          %td
            %input(type="checkbox" checked="checked" disabled="disabled" style="visibility:hidden")
            %input(type="checkbox" checked="checked" disabled="disabled" style="visibility:hidden")
            %input(type="checkbox")
          %td.l2 FR-241: BA shall be able to read the stuff on the box.
          %td ⇐ <span class="del">FR-48</span>

      %button(style="margin-top:2em") Delete 3 Reqs
      %button Cancel

      .notes Notes.
        %ol
          %li As reqs are (de)selected, the reqs that they imply (dis)appear.
          %li In the right-most column refs selected for deletion get strike-through too.
          %li For restoration instead of deletion, the ⇐ column simply becomes ⇒.
