!!! 5
%html
  %head
    %meta(http-equiv="refresh" content="1")
    %title SHIPREQ PHASE-2 PROTOTYPE
    :css
      table {border-collapse: collapse}
      th,td {border: solid 1px #000; padding: 1px 4px}
      .notes {color:#338; margin-top: 2em; margin-left: -3em; font-style:italic}
      .notes ol, .notes ul {margin-top:0.2em}
      section.screen {border-top: solid 1px black; margin-top: 12em; padding-top: 0.7em; padding-left: 4em}
      section.screen > a h1 {margin-top: 0; margin-left: -2.6em}
      span.incmp {color:#c00}
      span.incmp-dull {color:#777}
      .fixpre pre {margin-top:0; margin-bottom:0}

  %body
    %h1 SHIPREQ PHASE-2 PROTOTYPE

    %ol
      %li
        %a(href="#fields") Fields
      %li
        %a(href="#incmp") Incompletions
      %li
        %a(href="#incmp-cfg") Incompletions (cfg)
      %li
        %a(href="#grouping-cfg") Groupings (cfg)
      %li
        %a(href="#grouping-browse") Grouping Browser
      %li
        %a(href="#grouping-browse2") Grouping Browser (lvl 2+)

    -#==============================================================================================
    %section.screen
      %a#fields
        %h1 Fields

      %h4 Active Fields
      %button Create
      %table
        %tr
          %th Name
          %th RefKey
          %th Field Type
          %th Mandatory
          %th Req Types
          %th Usage
          %th Ctrls
        %tr
          %td Description
          %td \.desc
          %td Text
          %td ☐
          %td Only: MF, UC.
          %td
            %a(href="#") 27
          %td
            %button Edit
            %button Delete
            [Drag]
        %tr
          %td Priority
          %td \.pri
          %td Grouping
          %td ☑
          %td All.
          %td
            %a(href="#") 432
          %td
            %button Edit
            %button Delete
            [Drag]

      %h4 Deleted Fields
      %table
        %tr
          %th Name
          %th RefKey
          %th Field Type
          %th Mandatory
          %th Req Types
          %th Usage
          %th Ctrls
        %tr
          %td Description
          %td \.desc
          %td Text
          %td ☐
          %td Only: MF, UC.
          %td
            %a(href="#") 27
          %td
            %button Restore
            [Drag]

      .notes Notes.
        %ol
          %li Items can be dragged to reorder, or dragged from/to bin.
          %li If items can be dragged in/out of bin, is there any reason keeping the delete/restore buttons?
          %li Some fields will not be editable or deletable.
          %li Usage numbers should be links which lead to references. That would make delete button simple.
          %li Create → Choose req type → Enter common attr {mand, req types} and special attr {grouping, name, ...}
          %li Edit brings up the last part of the form above.
          %li If we're going use auto-save strategy,
            %ul
              %li we need an undo button, and maybe visible attr should be directly editable.
              %li maybe visible attr should be directly editable.


    -#==============================================================================================
    %section.screen
      %a#incmp
        %h1 Incompletions

      %div [Filters here]
      %h3 Σ 29

      %h4 Req View
      %table
        %tr
          %th Σ
          %th ID
          %th ReqText
        %tr
          %td 2
          %td FR-49
          %td BA shall be able to see a list of UCs and the number of incompletions <span class="incmp">#TBD</span> in each <span class="incmp">#TODO{confirm}</span>.
        %tr
          %td 3
          %td FR-311
          %td
        %tr
          %td 8
          %td UC-3
          %td Eat Food.

      %h4 Incmp View (#1: the everything view)
      %table
        %tr
          %th ID
          %th Location
          %th Type
          %th Supp Info
          %th Context
        %tr
          %td FR-49
          %td Body
          %td TBD
          %td
          %td …the number of UCs and the number of incompletions <span class="incmp">#TBD</span> in each <span class="incmp-dull">#TODO</span>.
        %tr
          %td FR-49
          %td Body
          %td TODO
          %td confirm
          %td …of UCs and the number of incompletions <span class="incmp-dull">#TBD</span> in each <span class="incmp">#TODO</span>.
        %tr
          %td UC-3
          %td 3.0.4.a
          %td
          %td
          %td

      %h4 Incmp View (#2: collapsable)
      %h5 &gt; Blank Fields (1)
      %table
        %tr
          %th ID
          %th Location
        %tr
          %td UC-3
          %td 3.0.4.a
      %h5 &gt; TODO (2)
      %table
        %tr
          %th ID
          %th Location
          %th Supp Info
          %th Context
        %tr
          %td FR-49
          %td Body
          %td
          %td …the number of UCs and the number of incompletions <span class="incmp">#TBD</span> in each <span class="incmp-dull">#TODO</span>.
        %tr
          %td FR-49
          %td Body
          %td confirm
          %td …of UCs and the number of incompletions <span class="incmp-dull">#TBD</span> in each <span class="incmp">#TODO</span>.

      .notes Notes.
        %ol
          %li Probably no need for req + incmp views to be visible simultaneously.  Maybe show one and allow to flip between both. Would save cog + DB load.
          %li Are requirements missing? From here we'd want to view (sub)req for more info and/or edit to resolve.
          %li Fark, how the hell is delayed-async-auto-save going to work if we can edit fields directly here? Similarly, undo.
          %li Incmp view should probably be in collapsable sections.


    -#==============================================================================================
    %section.screen
      %a#incmp-cfg
        %h1 Incompletions (cfg)

      %h3 User-Defined Incompletion Types
      %button Create
      %table
        %tr
          %th Name &amp; RefKey
          %th Desc
          %th Σ
          %th Ctrls
        %tr
          %td TODO
          %td Something that needs to be done.
          %td
            %a(href="#") 26
          %td
            %button Edit
            %button Delete
        %tr
          %td
            %input(value="TBD")
          %td
            %textarea
              Pending discussion with a client.
          %td
            %a(href="#") 4
          %td
            %button Delete

      %h3 Req-Types requiring implication
      %div
        %input(type="checkbox")
        CO: Constraints
      %div
        %input(type="checkbox" checked="checked")
        FR: Functional Requirements
      %div
        %input(type="checkbox")
        MF: Major Features
      %div
        %input(type="checkbox" checked="checked")
        QR: Quality Requirements

      .notes Notes.
        %ol
          %li Maybe a good strategy on config pages would be having an edit button which then turns
              static text into editable fields (which are autosaved).


    -#==============================================================================================
    %section.screen
      %a#grouping-cfg
        %h1 Groupings (Cfg)

      %table
        %tr
          %td.fixpre
            %button Create
            %pre Priority
            %pre  ├── High Priority
            %pre  ├── Medium Priority
            %pre  └── Low Priority
            %pre Blah
            %pre └── fay
            %pre     ├── evnznhce
            %pre     ├── webhket
            %pre     │   ├── daf7_arser
            %pre     │   ├── hyi_paser
            %pre     │   │   ├── jnshkn
            %pre     │   │   └── strm_reader
            %pre     │   └── hbi_parser
            %pre     └── ebsokt
            %h3 Deleted Groupings / Bin
            TODO
          %td
            %h3 Editor
            %table
              %tr
                %th Name
                %td
                  %input(value="High Priority")
              %tr
                %th Description
                %td
                  %textarea
              %tr
                %th RefKey
                %td
                  %input(value="pri=high")
              %tr
                %th Type
                %td Applicable
              %tr
                %th Enum
                %td
                  %input(type="checkbox")
            %div
              %h3 Parents
              %ol
                %li
                  Priority
                  %button Remove
              %div
                %input
                %button Add Parent
            %div
              %h3 Children
              %ol
                %li
                  Priority
                  %button Remove
              %div
                %input
                %button Add Child
            %h3 Usage
            %div Σ applications
            %div View applications button or something
            %button Delete
            %br
            %br
            %button Create Child

      .notes Notes.
        %ol
          %li Items can be dragged to reorder, or dragged from/to bin.
          %li If items can be dragged in/out of bin, is there any reason keeping the delete/restore buttons?
          %li Drag left-side tree to reorder.
          %li Drag from left-side into editor's parent/child sections.
          %li Reorder children via right-side children view.


    -#==============================================================================================
    %section.screen
      %a#grouping-browse
        %h1 Grouping Browser

      %div [Filter here]

      %h3 Groupings
      %p
        %a(href="#") Priority
        \ [ALLOCATION GRAPH]
        %br
        3 sub-groupings. 320 direct applications.
      %p
        %a(href="#") Component
        \ [ALLOCATION GRAPH]
        %br
        4 sub-groupings. 320 direct applications.
      %p
        %a(href="#") Version
        \ [ALLOCATION GRAPH]
        %br
        6 sub-groupings. 320 direct applications.

      %h3 Req types that don't require implication
      %p
        %a(href="#") MF: Major Features
        \ [ALLOCATION GRAPH]
        %br
        6 sub-groupings. 320 direct applications.

      .notes Notes.
        %table
          %tr
            %th Attr
            %th Groupings
            %th Implications
          %tr
            %th Graph segments
            %td grouping children
            %td active requirements of req type
          %tr
            %th Graph hover
            %td name, application count, %
            %td id, name, implication count, %
          %tr
            %th Graph click
            %td re-scope to subject child
            %td nothing
        %ol
          %li xxx



    -#==============================================================================================
    %section.screen
      %a#grouping-browse2
        %h1 Grouping Browser (lvl 2+)

      %button Back to Top-Level
      %button Back to Parent grouping (when lvl is 3+)

      %div [Filter here]

      %h2 Priority
      %div [Σ ALLOCATION GRAPH]

      %p
        %div Unapplied
      %p
        %a(href="#") Low Priority

      %h3 Cfg

      .notes Notes.
        %table
          %tr
            %th Attr
            %th Groupings
            %th Implications
          %tr
            %th Graph segments
            %td children of subject grouping
            %td reqs of subject req type
          %tr
            %th Graph detail
            %td name, application count, %
            %td id, name, implication count, %
        %ol
          %li xxx

    -#==============================================================================================
    %section.screen
