resources:
- name: shipreq-db
  type: sqladmin.v1beta4.instance
  properties:
    region: {{ properties['zone'][:-2] }}
    databaseVersion: POSTGRES_9_6
    settings:
      tier: db-f1-micro
      dataDiskSizeGb: 10
      activationPolicy: ALWAYS
      locationPreference:
        zone: {{ properties['zone'] }}
      backupConfiguration:
        enabled: true
        startTime: "16:00"
      maintenanceWindow:
        day: 6
        hour: 16
- name: shipreq-db-shipreq
  type: sqladmin.v1beta4.database
  properties:
    instance: $(ref.shipreq-db.name)
    name: shipreq
