!!! 5
%html
  %head
    -# %meta(http-equiv="refresh" content="1")
    %title 404 | ShipReq
    %link{href:  "../semantic/dist/semantic.min.css", rel: "stylesheet", type: "text/css"}/
    :css

      body {
        background:url(../fontawesome/gen/tile-question.svg) #fdfeff;
      }

      main>div {line-height:1em}

      a {font-weight:bold}

  %body

    %div(style="height:66.67%; display:flex")
      %main(style="margin:auto; font-size:1vmin")
        %div(style="font-size:16em; font-weight:bold") 404
        %div(style="font-size:4.22em") Page not found.
        %div(style="font-size:2em; margin-top:6vmin")
          -# %a(href="public-home.haml.html") Let me take you home...
          %a(href="public-home.haml.html") Come, let's go home...
