!!! 5
%html
  %head
    -# %meta(http-equiv="refresh" content="1")
    %title Access | CardBoard | ShipReq
    %script{src: "../node_modules/jquery/dist/jquery.min.js"}
    %link{href:  "../semantic/dist/semantic.min.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "../semantic/dist/semantic.min.js"}
    -# %link{href:  "../../Code/webapp-server/src/main/webapp/a/semantic.min.css", rel: "stylesheet", type: "text/css"}/
    -# %script{src: "../../Code/webapp-server/src/main/webapp/a/semantic.min.js"}
    :css
      body {padding:1rem}
      .ui.menu.inverted .ui.breadcrumb a {color: #63c0ff}
      .ui.menu.inverted .ui.breadcrumb a:hover {color: #9bf3ff}
      .ui.menu.inverted .ui.breadcrumb > i {color: #ddd; margin-left: 0.8em; margin-right: 0.8em;}

      #perm-table {
        width:100%;
        margin-bottom:1em;
      }
      #perm-table td:nth-child(2), #perm-table td:nth-child(3) {
        text-align: center;
      }

      span.admin {
        xcolor: green;
      }
      span.collab {
        xcolor: #33b;
      }
      span.read-only {
        xcolor: #963;
      }

      .segment.action {
        display: flex;
        align-items:flex-end;
      }
      .segment.action .left {
        flex-grow:1;
        margin-right: 8ex;
      }
      .segment.action .right .button {
        margin-right:0!important;
      }

  %body

    %nav(style="margin-bottom:5rem")
      .ui.menu.borderless.fixed.inverted
        .item
          %img{src: "logo-only-dark2.svg"}

        .item
          .ui.breadcrumb
            %a.section{href: "member-home.html"} Projects
            %i.divider.icon.right.angle
            %a.section{href: "project-index.html"} CardBoard
            .ui.dropdown.inline
              &nbsp;
              %i.icon.dropdown
              .menu
                .item.active CardBoard
                .item ShipReq
            %i.divider.icon.right.angle
            .section // .active
              .ui.dropdown.inline
                Access
                &nbsp;
                %i.icon.dropdown
                .menu

        .right.menu

          .item#connected4(onclick="$('#connected4 > *').toggle()")
            %i.icon.large.plug.green(style="opacity:.7" title="connected")
            %i.icon.large.plug.red(style="opacity:1;display:none" title="disconnected")

          .item.ui.dropdown.simple
            @japgolly
            .menu
              %a.item{href: "member-account.html"} Account
              .item Send feedback
              .item Logout

    -# =================================================================================================================
    .ui.container{style: "max-width: 723px! important"}

      %div(style="margin-top:6rem")

        -# =============================================================================================================
        .ui.segment.raised#access-new
          %h4.ui.header New User
          .ui.form(style="width:100%")
            .fields
              .field(style="width:50%")
                %label Username or email address
                %input{type: "text"}
              .field(style="width:50%")
                %label Role
                .ui.selection.dropdown
                  %i.icon.dropdown
                  .item %span.collab collaborator
                  .menu
                    .item %span.admin admin
                    .item %span.collab collaborator
            .field(style="text-align:right; margin-top:1rem")
              %button.ui.button.green.disabled(style="margin-right:0!important")
                %i.icon.plus
                Add

        -# =============================================================================================================
        .ui.segment.raised#access-rw(style="margin-top:3rem")
          %h4.ui.header Existing Users
          %table#perm-table
            %tbody
              %tr
                %td
                  %i.icon.user
                  You
                %td
                  .ui.selection.dropdown
                    %i.icon.dropdown
                    .item %span.admin admin
                    .menu
                      .item %span.admin admin
                      .item %span.collab collaborator
              %tr
                %td
                  %i.icon.user
                  @nim
                %td
                  .ui.selection.dropdown
                    %i.icon.dropdown
                    .item %span.collab admin
                    .menu
                      .item %span.admin admin
                      .item %span.collab collaborator
                %td
                  %button.ui.button.green(style="margin-right:0!important" onClick='toggle_access()')
                    %i.icon.edit
                    Save
                %td
                  .ui.button.basic.negative(style="white-space: nowrap; float:right; background:#fff!important;")
                    %i.icon.trash(style="margin:0!important")
              %tr
                %td
                  %i.icon.user
                  @aiden
                %td
                  .ui.selection.dropdown
                    %i.icon.dropdown
                    .item %span.collab collaborator
                    .menu
                      .item %span.admin admin
                      .item %span.collab collaborator
                %td
                %td
                  .ui.button.basic.negative(style="white-space: nowrap; float:right; background:#fff!important;")
                    %i.icon.trash(style="margin:0!important")

        -# =============================================================================================================
        .ui.segment.action(style="margin-top:3rem")
          .left
            %h4.ui.header Leave This Project
            %p
              Revoke your own access to this project.
              = " "
              If you do this and change your mind, you'll need an admin to invite you back.
          .right
            %button.ui.button.negative(style="white-space: nowrap; margin-right:2em")
              -# %i.icon.sign.out
              Leave This Project


  :javascript
    $('.ui.dropdown').dropdown();
    $('.omg-dimmable').dimmer({on: 'hover'});
