%html
  %head
    -# %meta(http-equiv="refresh" content="1")
    %title CardBoard Req Table | ShipReq
    %script{src: "../node_modules/jquery/dist/jquery.min.js"}
    %link{href:  "../semantic/dist/semantic.min.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "../semantic/dist/semantic.js"}
    :css
      body {padding:1rem}
      .ui.menu.inverted .ui.breadcrumb a {color: #63c0ff}
      .ui.menu.inverted .ui.breadcrumb a:hover {color: #9bf3ff}
      .ui.menu.inverted .ui.breadcrumb > i {color: #ddd; margin-left: 0.8em; margin-right: 0.8em;}

      .ui.button.basic {background:#fff!important}

      .usage {text-align:right !important;}
      .usage.na { background-color: #f5f5f5; padding:4x !important; color: #666;}
      .usage.na::after { content: '–'}
      .usage.one span {visibility:hidden}
      .usage.zero:not(:hover) {color:#4183c4}

      /* .ui.menu .item>img:not(.ui) -- width:2.5em */
      /* .ui.menu .item -- padding-top/bottom: 0.928571em */
      /* body - padding: 1rem */
      #navX {height:calc(2 * 0.928571em + 2.5em - 1.55em); background:green}
      #navX {height:2.79rem; margin-bottom:1rem} /* padding is to match body */
      main {
        margin-top: 6rem;
        max-width:120ex;
        display:block;
        margin-left: auto;
        margin-right: auto;
      }

      #issueTags {
      }

      .sectionTitle {
        display:block;
        margin: 6rem auto 3rem auto;
        max-width: 60ex;
        font-size: 120%;
        text-align: center;
        border-top: solid 1px #bbb;
        border-bottom: solid 1px #bbb;
        padding: .7em 0;
      }

      #otherSources .sources {
        display:flex;
        justify-content: center;
      }

      #otherSources .sources > .content {}
      #otherSources .sources > .gap {width:6rem}
      #otherSources .sources .header {font-weight:bold}
      #otherSources .sources li {margin-bottom:.3em}
      #otherSources .sources span.sub::before {content:'('}
      #otherSources .sources span.sub::after {content:')'}
      #otherSources .sources span.sub {color:#888; margin-left:1ex}

  -# ==================================================================================================================================================
  -# ==================================================================================================================================================
  %body

    .ui.menu.borderless.fixed.inverted
      .item
        %img{src: "logo-only-dark2.svg"}

      .item
        .ui.breadcrumb
          %a.section{href: "member-home.html"} Projects
          %i.divider.icon.right.angle
          %a.section{href: "project-index.html"} CardBoard
          .ui.dropdown.inline
            &nbsp;
            %i.icon.dropdown
            .menu
              .item.active CardBoard
              .item ShipReq
          %i.divider.icon.right.angle
          .section // .active
            .ui.dropdown.inline
              Req Table
              &nbsp;
              %i.icon.dropdown
              .menu
                .header Content
                .item Implication Graph
                .item.active ReqTable
                .header Configuration
                .item Fields
                .item Issues
                .item Req Types
                .item Tags

      .item.ui.right.dropdown.simple
        @japgolly
        -# %i.dropdown.icon
        .menu
          %a.item{href: "member-account.html"} Account
          .item Logout

    %main

      %section#issueTags

        .sectionTitle
          User-Defined Issue Types

        %table.ui.celled.table#t2
          %thead
            %tr
              %th Name
              %th Description
              %th.usage Usage
              %th
          %tbody
            %tr
              %td ="#TODO"
              %td Work needs to be done.
              %td.usage.zero(title="No reqs use this field") %a(href="#") 0 uses
              %td
                <button class="ui button basic  negative " style="white-space: nowrap;"><i class="icon trash"></i>Delete</button>

      %section#otherSources

        .sectionTitle
          Other Configurable Causes of Issues

        .sources
          .content
            .header
              Req Types with Mandatory Implication
            .body
              %ul
                %li CO: Constraint
                %li FR: Functional Requirement

          .gap

          .content
            .header
              Mandatory fields
            .body
              %ul
                %li
                  Major Feature
                  %span.sub CA and RO excepted
                %li
                  Priority
                  %span.sub FR, MF and RO only
                %li
                  Title
                  %span.sub built-in
                %li
                  Use Case Step
                  %span.sub built-in


  :javascript
    $('.ui.dropdown').dropdown();
