%html
  %head
    -# %meta(http-equiv="refresh" content="1")
    %title CardBoard Req Table | ShipReq
    %script{src: "../node_modules/jquery/dist/jquery.min.js"}
    %link{href:  "../semantic/dist/semantic.min.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "../semantic/dist/semantic.js"}
    :css
      body {padding:1rem}
      .ui.menu.inverted .ui.breadcrumb a {color: #63c0ff}
      .ui.menu.inverted .ui.breadcrumb a:hover {color: #9bf3ff}
      .ui.menu.inverted .ui.breadcrumb > i {color: #ddd; margin-left: 0.8em; margin-right: 0.8em;}

      .ui.button.basic {background:#fff!important}

      .is-tag {
        padding: 4px 6px !important;
        margin-left: .5ex !important;
      }

      main {
        xbackground:#fbb;
        margin-top: 4rem;
        min-height: calc(100vh - 2 * (0.928571em + 1rem) - 2.5em);
        min-height: calc(100vh - 2.79rem - 3rem);
        min-height: calc(100vh - 6rem);
        display:grid;
        grid-template-columns: 1fr 2rem 2rem 1fr;
      }

      section.gap2 {
        border-left: solid 1px #e8e8e8;
      }

      #tagtree {
        margin:0;
        margin-top:2.5rem;
        padding-left:0;
      }
      #tagtree ol {
        padding-left:6.5ex;
      }
      #tagtree li {
        list-style-type: none;
      }
      #tagtree .drag {
        display: inline;
        padding:.5em 1ex 0.5em 2ex;
        margin-left: -2ex;
        cursor:grab;
      }
      #tagtree > li.group:not(:first-child), #tagtree > li.tag.first_after_group {
        margin-top: 1.25em;
        border-top: solid 1px #2224261a;
      }
      #tagtree li.tag:not(:last-child) {
        border-bottom:solid 1px blue;
        border-bottom: solid 1px #2224261a;
      }
      #tagtree li.tag {
        padding-top: .5em;
        padding-bottom: .5em;
      }
      #tagtree .group i {
        margin-right:0.4ex!important;
      }
      #tagtree .group > div {
        font-size: 120%;
        padding:0.4em 0;
      }
      #tagtree li.group > div, #tagtree li.tag {
        cursor:pointer;
      }
      #tagtree li.group > div:hover, #tagtree li.tag:hover {
        background-color: #fffad7 !important;
      }

      xa:hover {color:#ef06c4!important}
      xa:hover {color:#60f!important}
      xa:hover {color:#4183c4!important; text-decoration: underline; text-decoration-color:#aac7e4}

      .usage {float:right;}
      x.usage.one a {color:#ef06c4}
      .usage.one span {visibility:hidden}
      .usage.zero:not(:hover) {opacity:0.5}

  -# ==================================================================================================================================================
  -# ==================================================================================================================================================
  %body

    .ui.menu.borderless.fixed.inverted
      .item
        %img{src: "logo-only-dark2.svg"}

      .item
        .ui.breadcrumb
          %a.section{href: "member-home.html"} Projects
          %i.divider.icon.right.angle
          %a.section{href: "project-index.html"} CardBoard
          .ui.dropdown.inline
            &nbsp;
            %i.icon.dropdown
            .menu
              .item.active CardBoard
              .item ShipReq
          %i.divider.icon.right.angle
          .section // .active
            .ui.dropdown.inline
              Req Table
              &nbsp;
              %i.icon.dropdown
              .menu
                .header Content
                .item Implication Graph
                .item.active ReqTable
                .header Configuration
                .item Fields
                .item Issues
                .item Req Types
                .item Tags

      .item.ui.right.dropdown.simple
        @japgolly
        -# %i.dropdown.icon
        .menu
          %a.item{href: "member-account.html"} Account
          .item Logout

    %main

      %section.left

        %div(style="display:flex; margin-bottom:2rem")
          %div(style="flex-grow:1")
            .ui.labeled.button
              %a.ui.button.green
                %i.icon.plus
                New
              -# .ui.floating.dropdown.labeled.search.button.label
              .ui.dropdown.label{style: "background-color: #00a632; color: #EEE;"}
                Tag group
                %i.icon.dropdown
                .menu
                  .item Tag
                  .item Tag group

          %div(style="")
            %button.ui.button.icon
              %i.icon.trash.outline.large.grey


        -# ==================================================================================================================================================
        %ol#tagtree

          %li.group
            %div
              %i.icon.folder.open.outline
              Actors

          %li.group
            %div
              %i.icon.folder.open.outline
              Status
            %ol
              %li.tag
                .drag ☰
                .ui.label.is-tag.yellow(style="margin:0;color:#000!important") needs_more_info
                .usage(title="12 reqs use this tag") %a(href="#") 12 uses
              %li.tag
                .drag ☰
                .ui.label.is-tag.brown(style="margin:0") needs_analysis
                .usage.one %a(href="#") 1 use<span>s</span>
              %li.tag
                .drag ☰
                .ui.label.is-tag.blue(style="margin:0") analysed
                .usage(title="47 reqs use this tag") %a(href="#") 47 uses
              %li.tag
                .drag ☰
                .ui.label.is-tag.pink(style="margin:0") ready_for_dev
                .usage.zero(title="No reqs use this tag") %a(href="#") 0 uses
              %li.tag
                .drag ☰
                .ui.label.is-tag.olive(style="margin:0; color:#000!important") implemented
                .usage.zero(title="No reqs use this tag") %a(href="#") 0 uses

          %li.group
            %div
              %i.icon.folder.open.outline
              Priority
            %ol
              %li.tag
                .drag ☰
                .ui.label.is-tag.red(style="margin:0") must
                .usage(title="9 reqs use this tag") %a(href="#") 9 uses
              %li.tag
                .drag ☰
                .ui.label.is-tag.orange(style="margin:0; xcolor:#000!important") should_definately
                .usage(title="86 reqs use this tag") %a(href="#") 86 uses
              %li.tag
                .drag ☰
                .ui.label.is-tag.yellow(style="margin:0; color:#000!important") could
                .usage.zero(title="No reqs use this tag") %a(href="#") 0 uses

          %li.group
            %div
              %i.icon.folder.open.outline
              Version

            %ol
              %li.group
                %div
                  %i.icon.folder.open.outline
                  Released

            %ol
              %li.group
                %div
                  %i.icon.folder.open.outline
                  In Testing

            %ol
              %li.group
                %div
                  %i.icon.folder.open.outline
                  Unreleased
                %ol
                  %li.tag
                    .drag ☰
                    .ui.label.is-tag.blue(style="margin:0") v1.0
                    .usage(title="30 reqs use this tag") %a(href="#") 30 uses
                  %li.tag
                    .drag ☰
                    .ui.label.is-tag.blue(style="margin:0") v1.1
                    .usage.one %a(href="#") 1 use<span>s</span>

                %li.tag
                  .drag ☰
                  .ui.label.is-tag.blue(style="margin:0") tbd
                  .usage.zero(title="No reqs use this tag") %a(href="#") 0 uses

          %li.tag.first_after_group
            .ui.label.is-tag.blue(style="margin:0") blah1
            .usage.zero(title="No reqs use this tag") %a(href="#") 0 uses

          %li.tag
            .ui.label.is-tag.blue(style="margin:0") blah2
            .usage.zero(title="No reqs use this tag") %a(href="#") 0 uses

      -# ==================================================================================================================================================
      %section.gap1
      %section.gap2

      %section.right

        .right-on#noeditor(style="display:flex; flex-direction: column; font-size:120%")
          %div(style="height:calc((100vh - 6rem)/4); xbackground:red")
          %div(style="text-align:center; font-style:italic; color:#999; line-height: 1.8em")
            %div This is the tag editor.
            %div Create a new tag, or select an existing tag to edit it here.

  :javascript
    $('.ui.dropdown').dropdown();
    $('.outline').toggleClass('outline');
