!!! 5
%html
  %head
    -# %meta(http-equiv="refresh" content="1")
    %title CardBoard Req Table | ShipReq
    %script{src: "node_modules/jquery/dist/jquery.min.js"}
    %link{href:  "../semantic/dist/semantic.min.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "../semantic/dist/semantic.js"}
    :css
      body {padding:1rem}
      .ui.menu.inverted .ui.breadcrumb a {color: #63c0ff}
      .ui.menu.inverted .ui.breadcrumb a:hover {color: #9bf3ff}
      .ui.menu.inverted .ui.breadcrumb > i {color: #ddd; margin-left: 0.8em; margin-right: 0.8em;}

      h3.ui.header {margin-top: 2em; padding-bottom: 0.3em !important}

      .content.pic {text-align:center; padding-top:2.2em !important}
      .content.pic > i {font-size:3rem}

      /** workaround for https://github.com/Semantic-Org/Semantic-UI/issues/2978 */
      .active-hack {font-weight:700!important; box-shadow: none!important;}
      .active-hack.red {border-color: #DB2828!important; color: #DB2828!important;}
      .active-hack.orange {border-color: #F2711C!important; color: #F2711C!important;}

      main {
        margin-top:4rem;
      }
      main svg {
        display: block;
        margin:0 auto;
      }

  %body

    .ui.menu.borderless.fixed.inverted
      .item
        %img{src: "logo-only-dark2.svg"}

      .item
        .ui.breadcrumb
          %a.section{href: "member-home.haml.html"} Projects
          %i.divider.icon.right.angle
          %a.section{href: "project-index.haml.html"} CardBoard
          %i.divider.icon.right.angle
          .section // .active
            .ui.dropdown.inline
              Implication Graph
              &nbsp;
              %i.icon.dropdown
              .menu
                .header Content
                .item.active Implication Graph
                .item ReqTable
                .header Configuration
                .item Fields
                .item Issues
                .item Req Types
                .item Tags

      .item.ui.right.dropdown.simple
        @japgolly
        -# %i.dropdown.icon
        .menu
          %a.item{href: "member-account.haml.html"} Account
          .item Logout

    -# =============================================================================================
    %main

      %div(style="text-align:right")
        #omfg2{onclick: '$("#omfg2 > *").toggle()'}
          %button.ui.button.icon(data-tooltip="Click to show deleted content." data-position="left center")
            %i.icon.trash.outline.large.grey
          %button.ui.button.icon.red(style="display:none" data-tooltip="Showing deleted content." data-position="left center")
            %i.icon.trash.outline.large.white

      -# =============================================================================================
      %section

        <svg width="271pt" height="332pt" viewBox="0.00 0.00 271.00 332.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="graph1" class="graph" transform="scale(1 1) rotate(0) translate(4 328)">

        <polygon fill="white" stroke="white" points="-4,5 -4,-328 268,-328 268,5 -4,5"></polygon>

        <g id="node1" class="node" style="cursor: pointer;">
        <ellipse fill="#91d5bc" stroke="#333333" cx="104" cy="-90" rx="31.1299" ry="18"></ellipse>
        <text text-anchor="middle" x="104" y="-85.8" font-family="Times,serif" font-size="14.00">BL-1</text>
        <title>This is a business rule.</title></g>

        <g id="node2" class="node" style="cursor: pointer;">
        <ellipse fill="#94dd59" stroke="#333333" cx="145" cy="-306" rx="32.2371" ry="18"></ellipse>
        <text text-anchor="middle" x="145" y="-301.8" font-family="Times,serif" font-size="14.00">CO-1</text>
        <title>I have no money</title></g>

        <g id="node3" class="node" style="cursor: pointer;">
        <ellipse fill="#94dd59" stroke="#333333" cx="228" cy="-306" rx="32.2371" ry="18"></ellipse>
        <text text-anchor="middle" x="228" y="-301.8" font-family="Times,serif" font-size="14.00">CO-2</text>
        <title>I really have no money</title></g>

        <g id="node4" class="node" style="cursor: pointer;">
        <ellipse fill="#d0a9d4" stroke="#333333" cx="187" cy="-90" rx="33.0482" ry="18"></ellipse>
        <text text-anchor="middle" x="187" y="-85.8" font-family="Times,serif" font-size="14.00">MF-3</text>
        <title>Sell stuff</title></g>

        <g id="node5" class="node" style="cursor: pointer;">
        <ellipse fill="#d0a9d4" stroke="#333333" cx="187" cy="-18" rx="33.0482" ry="18"></ellipse>
        <text text-anchor="middle" x="187" y="-13.8" font-family="Times,serif" font-size="14.00">MF-4</text>
        <title>Rebuy stuff</title></g>

        <g id="edge2" class="edge">
        <path fill="none" stroke="#333333" d="M187,-71.6966C187,-63.9827 187,-54.7125 187,-46.1124"></path>
        <polygon fill="#333333" stroke="#333333" points="190.5,-46.1043 187,-36.1043 183.5,-46.1044 190.5,-46.1043"></polygon>
        </g>

        <g id="node6" class="node" style="cursor: pointer;">
        <ellipse fill="#d0a9d4" stroke="#333333" cx="146" cy="-162" rx="33.0482" ry="18"></ellipse>
        <text text-anchor="middle" x="146" y="-157.8" font-family="Times,serif" font-size="14.00">MF-1</text>
        <title>Fix stuff</title></g>

        <g id="edge12" class="edge">
        <path fill="none" stroke="#333333" d="M136.259,-144.765C131.117,-136.195 124.696,-125.494 118.94,-115.9"></path>
        <polygon fill="#333333" stroke="#333333" points="121.835,-113.921 113.688,-107.147 115.832,-117.523 121.835,-113.921"></polygon>
        </g>

        <g id="edge10" class="edge">
        <path fill="none" stroke="#333333" d="M155.716,-144.411C160.618,-136.042 166.67,-125.71 172.141,-116.37"></path>
        <polygon fill="#333333" stroke="#333333" points="175.319,-117.868 177.353,-107.47 169.279,-114.33 175.319,-117.868"></polygon>
        </g>

        <g id="node7" class="node" style="cursor: pointer;">
        <ellipse fill="#d0a9d4" stroke="#333333" cx="230" cy="-162" rx="33.0482" ry="18"></ellipse>
        <text text-anchor="middle" x="230" y="-157.8" font-family="Times,serif" font-size="14.00">MF-2</text>
        <title>Create stuff</title></g>

        <g id="edge16" class="edge">
        <path fill="none" stroke="#333333" d="M220.027,-144.765C214.838,-136.317 208.377,-125.799 202.549,-116.312"></path>
        <polygon fill="#333333" stroke="#333333" points="205.434,-114.322 197.218,-107.633 199.47,-117.986 205.434,-114.322"></polygon>
        </g>

        <g id="node8" class="node" style="cursor: pointer;">
        <ellipse fill="#dfb863" stroke="#333333" cx="62" cy="-306" rx="32.2371" ry="18"></ellipse>
        <text text-anchor="middle" x="62" y="-301.8" font-family="Times,serif" font-size="14.00">UC-1</text>
        <title>Hey let's make a use case!</title></g>

        <g id="node9" class="node" style="cursor: pointer;">
        <ellipse fill="#dfb863" stroke="#333333" cx="32" cy="-234" rx="32.2371" ry="18"></ellipse>
        <text text-anchor="middle" x="32" y="-229.8" font-family="Times,serif" font-size="14.00">UC-2</text>
        <title>&lt;math&gt;\Theta({4n^2 \over {n +1}})&lt;/math&gt;</title></g>

        <g id="edge8" class="edge">
        <path fill="none" stroke="#333333" d="M54.8904,-288.411C51.4294,-280.335 47.1848,-270.431 43.2949,-261.355"></path>
        <polygon fill="#333333" stroke="#333333" points="46.4232,-259.769 39.2669,-251.956 39.9892,-262.526 46.4232,-259.769"></polygon>
        </g>

        <g id="node10" class="node" style="cursor: pointer;">
        <ellipse fill="#dfb863" stroke="#333333" cx="62" cy="-162" rx="32.2371" ry="18"></ellipse>
        <text text-anchor="middle" x="62" y="-157.8" font-family="Times,serif" font-size="14.00">UC-3</text>
        <title>What the hell is this??</title></g>

        <g id="edge6" class="edge">
        <path fill="none" stroke="#333333" d="M66.4642,-287.953C68.935,-277.63 71.7522,-264.153 73,-252 74.6343,-236.084 74.6343,-231.916 73,-216 72.1226,-207.455 70.4694,-198.255 68.7062,-189.958"></path>
        <polygon fill="#333333" stroke="#333333" points="72.0845,-189.028 66.4642,-180.047 65.257,-190.573 72.0845,-189.028"></polygon>
        </g>

        <g id="edge4" class="edge">
        <path fill="none" stroke="#333333" d="M39.1096,-216.411C42.5706,-208.335 46.8152,-198.431 50.7051,-189.355"></path>
        <polygon fill="#333333" stroke="#333333" points="54.0108,-190.526 54.7331,-179.956 47.5768,-187.769 54.0108,-190.526"></polygon>
        </g>

        <g id="edge14" class="edge">
        <path fill="none" stroke="#333333" d="M71.7412,-144.765C76.8831,-136.195 83.3036,-125.494 89.0598,-115.9"></path>
        <polygon fill="#333333" stroke="#333333" points="92.1678,-117.523 94.3116,-107.147 86.1654,-113.921 92.1678,-117.523"></polygon>
        </g>
        </g>
        </svg>

  :javascript
    $('.ui.dropdown').dropdown();
