!!! 5
%html
  %head
    -# %meta(http-equiv="refresh" content="1")
    %title SHIPREQ UI PROTOTYPE: Projects page
    %script{src: "node_modules/jquery/dist/jquery.min.js"}
    %link{href:  "semantic/dist/semantic.min.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "semantic/dist/semantic.min.js"}
    :css
      body {padding:1rem}

  %body

    .ui.menu.borderless.fixed.inverted
      .item
        %img{src: "logo-only-dark2.svg"}

      .item
        .ui.breadcrumb
          .section Projects

      .item.ui.right.dropdown.simple
        @japgolly
        -# %i.dropdown.icon
        .menu
          %a.item{href: "account.haml.html"} Account
          .item Logout

    .ui.container{style: "margin-top:4rem"}
      %div
        .ui.action.input
          %input{type: "text", placeholder: "New project name..."}
          %button.ui.button.primary Create
      -# %div
      -#   .ui.action.input.error
      -#     %input{type: "text", placeholder: "New project name...", value: "Cardboard"}
      -#     %button.ui.button.disabled.negative Create
      -# .ui.pointing.red.basic.label
      -#   That name is taken.

      .ui.divider{style: "margin:2rem 0"}

      .ui.divided.link.items

        %a.item{href: "project-index.haml.html"}
          .content.middle.aligned
            .header
              CardBoard
            .meta
              Updated&nbsp;
              %time{datetime: "2015-12-17T09:24:17Z", title: "December 17, 2015"} 4 months ago.
              .ui.statistics.tiny.right.floated
                .statistic
                  .value
                    %i.icon.write
                    &nbsp;209
                  .label changes
                .statistic
                  .value
                    %i.icon.cubes
                    &nbsp;39
                  .label reqs
                -# .statistic
                -#   .value
                -#     %i.icon.database
                -#     &nbsp;67.2
                -#   .label KB

        %a.item{href: "project-reqtable.haml.html"}
          .content.middle.aligned
            .header
              ShipReq
            .meta
              Updated 3 days ago.
              .ui.statistics.tiny.right.floated
                .statistic
                  .value
                    %i.icon.write
                    &nbsp;1080
                  .label changes
                .statistic
                  .value
                    %i.icon.cubes
                    &nbsp;361
                  .label reqs
                -# .statistic
                -#   .value
                -#     %i.icon.database
                -#     &nbsp;1,248.8
                -#   .label KB

  :javascript
    $('.ui.dropdown').dropdown();
