!!! 5
%html
  %head
    -# %meta(http-equiv="refresh" content="1")
    %title CardBoard Req Table | ShipReq
    %script{src: "../node_modules/jquery/dist/jquery.min.js"}
    %script{src: "../node_modules/autosize/dist/autosize.js"}
    %link{href:  "../semantic/dist/semantic.min.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "../semantic/dist/semantic.js"}
    :css
      body {padding:1rem}
      .ui.menu.inverted .ui.breadcrumb a {color: #63c0ff}
      .ui.menu.inverted .ui.breadcrumb a:hover {color: #9bf3ff}
      .ui.menu.inverted .ui.breadcrumb > i {color: #ddd; margin-left: 0.8em; margin-right: 0.8em;}

      h3.ui.header {margin-top: 2em; padding-bottom: 0.3em !important}

      .content.pic {text-align:center; padding-top:2.2em !important}
      .content.pic > i {font-size:3rem}

      /** workaround for https://github.com/Semantic-Org/Semantic-UI/issues/2978 */
      .active-hack {font-weight:700!important; box-shadow: none!important;}
      .active-hack.red {border-color: #DB2828!important; color: #DB2828!important;}
      .active-hack.orange {border-color: #F2711C!important; color: #F2711C!important;}

      #view-ctrls > div:not(:first-child) {margin-left: 1em}
      .sort > button {margin-left: 1ex !important}
      #cols-popup label {white-space: nowrap !important}

      .status i {margin-right:0}

      .sortCriterion:not(i) {cursor:move}

      #reqtable > thead > tr > th {padding: 4px}
      #reqtable > tbody > tr > td {padding: 4px}
      #reqtable a:hover {text-decoration: underline}
      #reqtable .selcol {width: 24px !important; text-align: center}
      .is-tag {padding: 4px 6px !important}
      .tagRef {color:#2185D0!important}
      .issueRef {color:#db2828!important}

      .inline-edit:hover {
        cursor:pointer;
        outline:dotted 2px #FFA622;
        background: #fff4e3 !important;
        }
      .can-focus:hover {
      /*
        xcursor:pointer;
        xoutline:solid 1px #00b5ad;
        outline:solid 1px #a333c8;
      */
      }
      .has-focus {
        xoutline:solid 2px #00b5ad;
        outline:solid 2px #a333c8;
        xoutline:solid 2px #6435c9;
      }

      #reqtableX >tbody >tr:hover > td {background: rgba(0,15,30,.03)}

      .texteditor {
        width:100%;
        margin: 0;
        -webkit-appearance: none;
        tap-highlight-color: rgba(255,255,255,0);
        padding: .78571429em 1em;
        background: #fff;
        border: 1px solid rgba(34,36,38,.15);
        outline: 0;
        color: rgba(0,0,0,.87);
        border-radius: .28571429rem;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) inset;
        -webkit-transition: color .1s ease,border-color .1s ease;
        transition: color .1s ease,border-color .1s ease;
        font-size: 1em;
        line-height: 1.2857;

        /*overflow: scroll;*/
        resize: none;

        padding:.3em .4em !important;
        background: #fff4e3 !important;
        xborder-color:#FFA622 !important;
        border-color:rgba(255, 166, 34, .5) !important;
      }

      .edit-notes {
        text-align:right;
          font-size: 0.75rem;
          line-height: 1em;
          margin-bottom: 1rem;
          color: #4c4c4c;
      }

      .mid-edit {padding:1ex !important}
      .mid-edit textarea:focus {border-width:2px !important; border-color:rgba(255, 166, 34, 1) !important}
      .preview-cont {margin:0 !important}
      .preview-header {padding-top: 0.3em !important; padding-bottom: 0.3em !important}
      .preview-body {
        background-clip: border-box !important;
        background-color: rgba(0, 0, 0, 0)  !important;
        background-image: repeating-linear-gradient(-225deg,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0)         5ex,
          rgba(33, 186, 67, 0.07)  5ex,
          rgba(33, 186, 67, 0.07) 10ex) !important;
        background-origin: padding-box  !important;
      }

      .item.filter input {
        background-color: #FCFFF5;
        color: #2C662D;
        box-shadow: 0px 0px 0px 1px #A3C293 inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
      }
      .item.filter i.filter {color:#2c662d;opacity:1!important}

      #fe,#hide {
        font: inherit;
        margin: 0;
        padding: 0;
      }
      #fe { min-width: 32ex }
      #hide {
        position: absolute;
        height: 0;
        overflow: hidden;
        white-space: pre;
      }

  %body

    .ui.menu.borderless.fixed.inverted
      .item
        %img{src: "logo-only-dark2.svg"}

      .item
        .ui.breadcrumb
          %a.section{href: "member-home.html"} Projects
          %i.divider.icon.right.angle
          %a.section{href: "project-index.html"} CardBoard
          .ui.dropdown.inline
            &nbsp;
            %i.icon.dropdown
            .menu
              .item.active CardBoard
              .item ShipReq
          %i.divider.icon.right.angle
          .section // .active
            .ui.dropdown.inline
              Req Table
              &nbsp;
              %i.icon.dropdown
              .menu
                .header Content
                .item Implication Graph
                .item.active ReqTable
                .header Configuration
                .item Fields
                .item Issues
                .item Req Types
                .item Tags

      .item.ui.right.dropdown.simple
        @japgolly
        -# %i.dropdown.icon
        .menu
          %a.item{href: "member-account.html"} Account
          .item Logout

    -# =============================================================================================
    %main{style: "margin-top:4rem"}

      .ui.secondary.pointing.menu
        %a.item.ui.dropdown.onhover{onclick: "alert('This would now set view to Default')"}
          %i.icon.star.yellow
          Default
          .menu
            .item
              %i.icon.write
              Rename...
            .item
              %i.icon.save
              Replace with current
            .item
              %i.icon.star
              Set as default
            .item
              %i.icon.trash
              Delete
        %a.item High-level
        %a.item(href="project-reqtable-empty.html") Low-level
        .item.orange.ui.dropdown.onhover.active-hack
          Unsaved view
          -# %button.ui.button.icon{style: "margin-left: 1ex"}
            %i.icon.save
          -# %i.icon.dropdown
          .menu
            .item Save as...

        .right.menu
          #omfg2.item{style: "padding-right:0 !important", onclick: '$("#omfg2 > *").toggle()'}
            %button.ui.button.icon.has-popup{data-content: "Click to show deleted content."}
              %i.icon.trash.outline.large.grey
            %button.ui.button.icon.red.has-popup{data-content: "Showing deleted content.", style: "display:none"}
              %i.icon.trash.outline.large.white

      -# =============================================================================================
      %section#action-ctrls{style: "display:flex; align-content: center; margin: 2em 0"}
        %div
          .ui.labeled.button
            %button.ui.button.green
              %i.icon.plus
              New
            -# .ui.floating.dropdown.labeled.search.button.label
            .ui.dropdown.label{style: "background-color: #00a632; color: #EEE;"}
              UC
              %i.icon.dropdown
              .menu
                .item BL: Business Rule
                .item BR: Business Requirement
                .item MF: Major Feature
                .item UC: Use Case
                .item Code group
        -# %div
          -# .ui.action.input
          .ui.right.labeled.input
            -# %button.ui.button Create
            %input.ui.button{type: "submit", value: "Create"}
            -# .ui.floating.dropdown.labeled.search.button.label
            -# .ui.basic.floating.dropdown.button
              .text UC
              %i.icon.dropdown
              .menu
                .item BL: Business Rule
                .item BR: Business Requirement
                .item MF: Major Feature
                .item UC: Use Case
                .item Code group
            .ui.dropdown.label
              .text UC
              %i.icon.dropdown
              .menu
                .item BL: Business Rule
                .item BR: Business Requirement
                .item MF: Major Feature
                .item UC: Use Case
                .item Code group
        -# %div
          %button.ui.button
            %i.icon.trash
            Delete (5)
        -# %div
          %button.ui.button
            %i.icon.undo
            Restore (2)
        %div.status{style: "text-align: right; flex-grow: 1"}
          -# Showing 21 rows: 19 reqs (17 live + 3 dead - 1 filtered) + 2 dups.
          = "Showing 0 rows: 0 "
          %i.icon.cubes{title: "requirements"}
          = " (17 - 17"
          %i.icon.filter{title: "excluded by the filter"}
          = ")."

      -# =============================================================================================
      %section#view-ctrls{style: "display:flex; align-content: center; margin-top: 2em"}
        .sort
          Sort:
          %button.ui.button.right.labeled.icon.tiny.basic.sortCriterion
            %i.icon.sort.descending
            Priority
          %button.ui.button.right.labeled.icon.tiny.basic.sortCriterion
            %i.icon.sort.ascending
            ID

        .item.space{style: "flex-grow: 1"}

        .item.filter
          .ui.left.icon.input.right.action.positive
            %i.icon.filter.positive
            %span#hide
            %input#fe(type="text" value="ah ah 123 123 ah ah 123 123 ah ah 123 123 ah ah 123 123 ah ah 123 123 ah ah 123 123")
            -# %textarea#FE weqr iuy oiuqwe iouyqweriouwqyer iuqweywe r
            .ui.button.icon
              %i.icon.close
            .ui.button.icon
              %i.icon.help.circle

        .item
          %button.ui.icon.button#cols-button
            %i.icon.columns
          .ui.popup#cols-popup
            %div
              .ui.checkbox
                %input{type: "checkbox"}
                %label Actors
            %div
              .ui.checkbox
                %input{type: "checkbox", checked: "checked"}
                %label ID
            %div
              .ui.checkbox
                %input{type: "checkbox"}
                %label Fart
            %div
              .ui.checkbox
                %input{type: "checkbox", checked: "checked"}
                %label Major Feature
            %div
              .ui.checkbox
                %input{type: "checkbox", checked: "checked"}
                %label Tags

      -# =============================================================================================
      %table#reqtable.ui.table.celled.compact.unstackable
        %thead
          %tr
            %th.selcol
              %input{type: "checkbox"}
            %th ID
            %th Title
            %th Priority
            %th Major Feature
            %th Tags
        %tbody
          %tr
            %td(colspan=6 style="padding:2em")
              .ui.icon.message.info
                %i.icon.filter
                .content
                  .header No filter results.
                  %p
                    None of the project content matches the specified filter criteria.

      -# .ui.icon.message.info
        %i.icon.filter
        .content
          .header 0 matches.
          %p
            No content matches the specified filter criteria.


  :javascript
    $('.ui.multiple.dropdown')
      .find('.menu > .item > .ui.dropdown, .menu > .item.ui.dropdown, > .ui.dropdown:not(.simple), .inline.dropdown, .icon.buttons .button, .form .dropdown.selection')
      .dropdown();

    $('.ui.dropdown:not(.onhover)').dropdown();
    $('.ui.dropdown.onhover').dropdown({on:"hover", delay: { show: 400 }});
    $('.ui.has-popup').popup({delay: { show: 400, hide: 0 }});
    $('#cols-button')
      .popup({
        inline   : true,
        hoverable: true,
        position : 'left center',
        delay: {
          show: 200,
          hide: 300
        }
      })
    ;

    var fe = document.getElementById("fe");
    var hide = document.getElementById("hide");
    // autosize(fe);

    // function resizeInput() {
    //   $(this).attr('size', $(this).val().length);
    // }
    // $(fe)
    //   // event handler
    //   .keyup(resizeInput)
    //   // resize on page load
    //   .each(resizeInput);

    resize();
    fe.addEventListener("input", resize);

    var iconWidth = '2.67142857em';
    function resize() {
      hide.textContent = fe.value;
      fe.style.width = `calc(${iconWidth} + ${hide.offsetWidth}px + 4ex)`;
      var w = fe.style.width;
      console.log(`Resize: ${hide.offsetWidth} -> [${w}] : ${typeof(w)}`)
      if (w == '') setTimeout(resize, 1);
    }

    // setTimeout(resize, 100);