!!! 5
%html
  %head
    -# %meta(http-equiv="refresh" content="1")
    %title CardBoard | ShipReq
    %script{src: "../node_modules/jquery/dist/jquery.min.js"}
    %link{href:  "../semantic/dist/semantic.min.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "../semantic/dist/semantic.min.js"}
    -# %link{href:  "../../Code/webapp-server/src/main/webapp/a/semantic.min.css", rel: "stylesheet", type: "text/css"}/
    -# %script{src: "../../Code/webapp-server/src/main/webapp/a/semantic.min.js"}
    :css
      body {padding:1rem}
      .ui.menu.inverted .ui.breadcrumb a {color: #63c0ff}
      .ui.menu.inverted .ui.breadcrumb a:hover {color: #9bf3ff}
      .ui.menu.inverted .ui.breadcrumb > i {color: #ddd; margin-left: 0.8em; margin-right: 0.8em;}

      #info {
        margin: 4rem 0;
      }
      #info td:nth-child(1) {
        white-space:nowrap;
      }
      #info td:nth-child(2) {
        width: 100%;
      }

      #menu .segment {
        display: flex;
        align-items:flex-end;
      }
      #menu .left {
        flex-grow:1;
        margin-right: 8ex;
      }
      #menu .right .button {
        margin-right:0!important;
      }

  %body

    %nav(style="margin-bottom:5rem")
      .ui.menu.borderless.fixed.inverted
        .item
          %img{src: "logo-only-dark2.svg"}

        .item
          .ui.breadcrumb
            %a.section{href: "member-home.html"} Projects
            %i.divider.icon.right.angle
            %a.section{href: "project-index.html"} CardBoard
            .ui.dropdown.inline
              &nbsp;
              %i.icon.dropdown
              .menu
                .item.active CardBoard
                .item ShipReq
            %i.divider.icon.right.angle
            .section // .active
              .ui.dropdown.inline
                Status
                &nbsp;
                %i.icon.dropdown
                .menu

        .right.menu

          .item#connected4(onclick="$('#connected4 > *').toggle()")
            %i.icon.large.plug.green(style="opacity:.7" title="connected")
            %i.icon.large.plug.red(style="opacity:1;display:none" title="disconnected")

          .item.ui.dropdown.simple
            @japgolly
            .menu
              %a.item{href: "member-account.html"} Account
              .item Send feedback
              .item Logout

    -# =============================================================================================
    .ui.container{style: "max-width: 723px! important"}

      -# %div(style="margin-top:6rem; margin-bottom:4rem")
        %h1.ui.header.dividing
          CardBoard

      .ui.message.icon.huge.black(style="margin-top:6rem")
        %i.icon.trash
        .content
          .header This project is deleted.

      .ui.message.icon.huge.black(style="margin-top:2rem")
        %i.icon.trash
        .content
          .header This project is deleted.
          %div(style="font-size:16px")
            %p
              %br
              Don't think this is needed anymore.

      .ui.message.icon.huge.black(style="margin-top:2rem")
        %i.icon.trash
        .content
          .header This project is deleted.
          %div(style="font-size:16px")
            %p
              -# = "Reason: "
              %br
              Don't think this is needed anymore.
              %br
              %br
              This is a large deletion-reason.
            %ul
              %li reason 1
              %li reason 2

      %table.ui.definition.table#info
        %tbody
          %tr
            %td Created
            %td %time{datetime: "2015-12-17T09:24:17Z", title: "December 17, 2015"} 4 months ago
          %tr
            %td Deleted
            %td %time{datetime: "2015-12-17T09:24:17Z", title: "December 17, 2015"} 2 months ago
          %tr
            %td Changes
            %td 1504
          %tr
            %td Reqs
            %td
              %span(style="margin-right:2ex") 320
              = "( + 24"
              %i.icon.trash.outline(style="margin:0")
              = " = 344 )"
          -# %tr
            %td Active<br>Connections
            %td
              -# %div 5: you (2), @matt (1), @tyzz (2)
              -# %div 5: you (2), @matt (1), @tyzz (2)
              %ul(style="margin:0 0 0 -24px")
                %li You — 1
              -# %div = "= 3"

      .ui.segments#menu(style="width:100%")

        .ui.segment
          .left
            %h4.ui.header Restore
            %p Unmark this project as deleted and reinstate it.
          .right
            %a(href="project-status-live.html")
              %button.ui.button.green(style="margin-right:2em")
                %i.icon.undo
                Restore

        -# .ui.segment
          .left
            %h4.ui.header Permanently Delete
            %p Delete this project forever. You won't be able to view or restore this project.
          .right
            %button.ui.button.negative(style="white-space: nowrap; margin-right:2em")
              %i.icon.trash
              Permanently Delete


  :javascript
    $('.ui.dropdown').dropdown();
    $('.omg-dimmable').dimmer({on: 'hover'});
