@font-face {
  font-family: _dejavu;
  src:
    local('DejaVu Sans'),
    url('/assets/DejaVuSans.woff') format('woff')
    url('/assets/DejaVuSans.ttf') format('truetype')
  ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: _dejavu;
  src:
    local('DejaVu Sans Bold'),
    local('DejaVu Sans'),
    url('/assets/DejaVuSans-Bold.woff') format('woff')
    url('/assets/DejaVuSans-Bold.ttf') format('truetype')
  ;
  font-weight: bold;
  font-style: normal;
}
