// =====================================================================================================================
// Generic & shared

// Makes width & height attributes include border and padding
@mixin box-sizing-border {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.alert {
  margin: 20px auto 20px auto;
  max-width: 480px;
  p:last-child { margin-bottom: 0 }
}

// https://github.com/twbs/bootstrap/issues/9881
.hidden2 { display: none }

textarea {
  @include box-sizing-border;
  margin-bottom: 0;
  resize: none;
  overflow: hidden; // removes scrollbars in Internet Explorer, removes blank space from firefox
  outline: none;
}

abbr.timeago[title] { border-bottom: none !important }

.centred_form {
  width: 300px;
  margin: 1cm auto 1cm auto;
  h2 { margin-bottom: 0.6em }
}

.flowgraph svg {
  //vertical-align: top;
  //max-width:100%;
  //width:auto;
  max-width: 100% !important; /* Set a maximum relative to the parent */
  width: auto\9 !important; /* IE7-8 need help adjusting responsive images */
  //height: auto; /* Scale the height according to the width, otherwise you get stretching */
  border: 0;
  //display: block;
  -ms-interpolation-mode: bicubic;
  cursor:default;
}

// =====================================================================================================================
// Layout
// Taken from twitter.github.io/bootstrap/examples/sticky-footer.html

$pageWidth: 780px;
$pageMarginHoriz: 30px;
$pageMarginTop: 4px;
$footerHeight: 26px;

html, body { height: 100% } // Cannot have any padding or margin here

#ly-default {

  // Wrapper for page content to push down footer
  #ly-hdrbody {
    @include box-sizing-border;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding-top: $pageMarginTop;
    margin-bottom: $footerHeight * -1; // Negative indent footer by it's height
  }

  // Footer
  #ly-footer, #ly-footer-push { height: $footerHeight }
  #ly-footer {
    @include box-sizing-border;

    background-color: #f5f5f5;
    border-top: solid 1px #ececec;
    .ly-content {
      margin-top: 3px;
      font-size: 12px;
      font-family: monospace;
      color: #808080;
      text-align: center
    }
  }

  // Container for the main content and footer content.
  .ly-content {
    //	Fixed width disabled ==> width: auto; max-width: $pageWidth; margin-left: auto; margin-right: auto;
    width: auto;
    margin-left: $pageMarginHoriz;
    margin-right: $pageMarginHoriz;
  }

  #content {
    margin-top: 2.3em;
  }
}

.ly-blank-body {
  margin: 1.4em 0.6cm 0 0.6cm;
}

// =====================================================================================================================
// Specific

.loginInfo { text-align: center }

#project-list {
  margin-top: 3em;
  li {
    margin-top: 1.8em;
    .title {font-size: 250%}
    .details {color: #444}
  }
}

#project-title {
  margin-bottom: 1.8ex;
  h1 {margin-bottom: 0}
  input.title {font-weight:bold}
}

#project-body {
  margin-top: 6ex;
  .tab-pane {margin-top:3ex}
}

#usecase-list {
  margin-top: 4ex;
  table {
    width: 100%
  }
  td.l {
    vertical-align: top;
    text-align: right;
    padding-right: 1.6ex;
    width: 17ex
  }
  td.l .dropdown-menu * {
    text-align: left;
    padding-right: 0
  }
  td.r {
    vertical-align: top;
    padding-bottom: 2ex;
  }
  .view-mode .view {
    a.title {
      font-size: 120%;
      line-height: 1em;
      color: #4183C4;
      font-weight: bold
    }
    .detail {
      font-size: 70%;
      color: #888
    }
  }
}

.ucs-published {
  color:#222;
  margin: 0 auto 0 auto;
  padding: 2ex 6ex 6ex 6ex;
  max-width: 144ex;
  h2,h3 {color:#000}

  nav {
    ol {margin-left:1ex}
    a {font-size:110%; line-height:1.6em}
  }

  main {
    margin-top:5em;
    article + article {margin-top:8em}

    .fvs {
      width: 100%;

      th, td {vertical-align:top}
      & > tr {border-top:1px solid #ccc; border-bottom:1px solid #ccc}
      & > tr > th {width:18ex; font-weight:normal}
      & > tr > td {padding-left:2ex}
      & > tr > th , & > tr > td {padding-top:0.3ex; padding-bottom:0.3ex}

      td > ul {padding-left:2ex}

      a.step:not(:hover), a.uc:not(:hover) {border-bottom:1px dotted}
      .bad.ref {
        color:#c00;
        cursor:no-drop;
      }
      .steps {
        th {white-space:nowrap}
        td {width:100%}
        * {line-height:1.168em}
        .lvl-0 > tbody > tr:not(.ind) td {font-weight:bold; padding-left:0.5ex}
        //.lvl-0 > tbody > tr.ind + tr:not(.ind) {td,th {padding-top:0.5em}}
        .ind table {margin-left:2ex}
        .ind .ind table {margin-left:5ex}
        .ind th {font-weight:normal}
        .ind td {padding-left:1.2ex}
        .highlight {_font-weight:bold; background:#ffc}
      }
    }
  }
}
