textarea {
  resize: none;
  overflow: auto; /* removes scrollbars in Internet Explorer */
  outline: none;
}

abbr.timeago[title] {
  border-bottom: none !important
}

#login {
  width: 260px;
  margin-left: auto;
  margin-right: auto;

  .who, .password {
    label {
      display: block;
    }
    input {
      width: 100%;
      margin-bottom: 1em;
    }
  }

  .remember {
    text-align: right;
  }

  .submit {
    text-align: right;
    margin-top: 1em
  }
}