.ucindex {
  margin-left:auto;
  margin-right:auto;
  width:700px;

  .new_uc {text-align:center; margin: 1em auto 1em auto}

  .uc_list {
    .uc {
      margin-bottom: 1.5em;

      .ctls {
        float: left;
        padding-top:4px;
      }

      .data {
        overflow:hidden;
        padding-left:2ex;

        a {
          font-size: 200%;
        }
        .last_updated {
          font-size: 70%;
          color: #222;
        }
      }
    }
  }

  .uc.edit {
    overflow:hidden;
    .num {float:left}
    .save {float:right}
    .title {width:auto; float:none; overflow:hidden}
    .title textarea {width:100%}

    .num, .title { font-size: 180%; }
    .title { padding-left: 0.6ex; padding-right: 0.6ex; }
    .save {font-size:120%}
  }
}
