<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%15X{akkaTimestamp} %-5level [%-32logger{32}] {%-34X{akkaSource}} %msg%n</pattern>
		</encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
	</appender>

    <appender name="FILE.LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/taskman.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/taskman-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%15X{akkaTimestamp} %-5level [%-40logger{40}] {%-34X{akkaSource} @ %-37X{sourceThread}} %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="org.apache.commons" level="WARN" />-->
    <!--<logger name="scala.slick.compiler" level="WARN" />-->
    <!--<logger name="akka" level="INFO" />-->

    <root>
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE.LOG" />
	</root>
</configuration>
