<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level [%-35logger{35}] {%-33thread:%-10X{who}} %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

	<appender name="FILE.LOG" class="ch.qos.logback.core.FileAppender">
		<file>/tmp/shipreq-test-taskman-server-impl.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%-50logger{50}] {%-40thread:%-10X{who}} %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.googlecode.flyway" level="INFO" />
    <logger name="com.jolbox.bonecp" level="INFO" />
    <logger name="akka" level="DEBUG" />
    <logger name="akka.event.slf4j" level="WARN" />
    <logger name="akka.event.EventStream" level="WARN" />
    <logger name="shipreq" level="DEBUG" />

	<root level="DEBUG">
		<!--<appender-ref ref="STDOUT"/>-->
		<!--<appender-ref ref="FILE.LOG"/>-->
	</root>
</configuration>
