.hidden { display: none; }

textarea { resize: none; overflow: auto; /* removes scrollbars in Internet Explorer */ outline: none; }

abbr.timeago[title] { border-bottom: none !important; }

#notices { margin: 1cm auto 1cm auto; width: 550px; padding: 1.5ex; border: solid 1px black; text-align: center; }

#login { width: 260px; margin-left: auto; margin-right: auto; }
#login .who label, #login .password label { display: block; }
#login .who input, #login .password input { width: 100%; margin-bottom: 1em; }
#login .remember { text-align: right; }
#login .submit { text-align: right; margin-top: 1em; }
