.alert { margin: 20px auto 20px auto; max-width: 480px; }
.alert p:last-child { margin-bottom: 0; }

.hidden2 { display: none; }

textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 0; resize: none; overflow: hidden; outline: none; }

abbr.timeago[title] { border-bottom: none !important; }

.centred_form { width: 300px; margin: 1cm auto 1cm auto; }
.centred_form h2 { margin-bottom: 0.6em; }

html, body { height: 100%; }

#ly-hdrbody { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-height: 100%; height: auto !important; height: 100%; padding-top: 4px; margin-bottom: -26px; }

#ly-footer, #ly-footer-push { height: 26px; }

#ly-footer { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #f5f5f5; border-top: solid 1px #ececec; }
#ly-footer .ly-content { margin-top: 3px; font-size: 12px; font-family: monospace; color: #808080; text-align: center; }

.ly-content { width: auto; margin-left: 30px; margin-right: 30px; }

#content { margin-top: 2.3em; }

.loginInfo { text-align: center; }

#project-list { margin-top: 3em; }
#project-list li { margin-top: 1.8em; }
#project-list li .title { font-size: 250%; }
#project-list li .details { color: #444; }

#project-title { margin-bottom: 1.8ex; }
#project-title h1 { margin-bottom: 0; }
#project-title input.title { font-weight: bold; }

#project-main { margin-top: 6ex; }
#project-main .tab-pane { margin-top: 3ex; }

#usecase-list { margin-top: 4ex; }
#usecase-list table { width: 100%; }
#usecase-list td.l { vertical-align: top; text-align: right; padding-right: 1.6ex; width: 17ex; }
#usecase-list td.l .dropdown-menu * { text-align: left; padding-right: 0; }
#usecase-list td.r { vertical-align: top; padding-bottom: 2ex; }
#usecase-list .view-mode .view a.title { font-size: 120%; line-height: 1em; color: #4183C4; font-weight: bold; }
#usecase-list .view-mode .view .detail { font-size: 70%; color: #888888; }
