html, body { height: 100%; }

.container { width: auto; max-width: 780px; }

#body { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -30px; }

#footer-push, #footer { height: 30px; }

#footer { background-color: #f5f5f5; }

#footer .container p { margin: 5px 0; }

.alert { margin: 20px auto 20px auto; max-width: 482.06651px; }

.hidden { display: none; }

textarea { resize: none; overflow: auto; outline: none; }

abbr.timeago[title] { border-bottom: none !important; }

.centred_form { width: 300px; margin: 1cm auto 1cm auto; }
.centred_form h2 { margin-bottom: 0.6em; }
.centred_form .controls { margin-top: 2px; }
