<?xml version="1.0" encoding="UTF-8"?>
<configuration
  xmlns="http://ch.qos.logback/xml/ns/logback"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback http://ch.qos.logback/xml/ns/logback/logback.xsd">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} %-5level [%-32logger{32}] {%-10X{who}} %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>

  <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>logstash:14500,localhost:14500</destination>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"app":"webapp"}</customFields>
    </encoder>
    <keepAliveDuration>5 minutes</keepAliveDuration>
  </appender>

  <logger name="org.apache.commons" level="WARN" />
  <logger name="shipreq" level="DEBUG" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="LOGSTASH" />
  </root>
</configuration>
