!!! 5
%html
  %head
    %title PROTOTYPE
    %script(type="text/javascript" src="../bower_components/angular/angular.min.js")
    %script(type="text/javascript" src="../bower_components/lodash/dist/lodash.js")
    %script(type="text/javascript" src="test-coffee.js")
    %script(type="text/javascript" src="all-purescript.js")

  %body(ng-app="myApp" ng-controller="myCtrl")
    %h1 Top-Level Groupings
    %div(ng-repeat="g in groupings")
      %hr
      %h3 Name: {{g.name}}
      %h3 UnAp: {{ countUnAp(g) }} / {{ countAllAp(g) }} ({{ (countUnAp(g)/countAllAp(g)*100.0).toFixed(1) }}%)
      %div
        %pre {{g}}
