.pgTitle {margin-bottom:2.5ex}
.page-new {margin-top:1000px}
.hidden2 {display:none}
.dropdown-menu a.delete {color:red}
.todo {color:red; background:#fee}
[disabled] * {color:#aaa !important}

#page-projectR2 nav {margin-top:6ex}
#projectR2-shares {padding-top:2ex}

#page-home {margin-top:4ex}
#page-home .tab-content {padding-left:8ex}
#projectC .form-group {padding-left:0}
#projectL li {margin-top:4ex}
#projectL li .title {font-size:250%}
#projectL li .details {color:#444}

#useraccount-ctls {text-align:right}

#ucl-p {margin-top:6ex}
#ucl-p h3 {font-weight:bold}
#ucl {margin-top: 4ex}
#ucl table {width:100%}
#ucl td.l {vertical-align:top; text-align:right; padding-right:1.6ex; width:17ex; _background:#eef}
#ucl td.l .dropdown-menu * {text-align:left; padding-right:0}
#ucl td.r {vertical-align:top; padding-bottom:2ex; _background:#fef}
#ucl .view-mode .view a.title {font-size:120%; line-height:1em; color:#4183C4; font-weight:bold}
#ucl .view-mode .view .detail {font-size:70%; color:#888}
#ucl .deleted .view a.title {color:#777}
#ucl .deleted .view .detail {color:#aaa}

#usecaseC {margin-top:2ex}

.shareL h3 {font-weight:bold}
.shareL .name {_padding-top:1ex; _background:#fef}
.shareL .name a {font-size:140%; font-weight:bold; color:#4183C4}
.shareL .url {width:56ex; margin-top:0.2ex}
.shareL .url .urltxt {font-family:monospace; background:white; cursor:text}
.shareL .url + .under {margin-top:0.5ex}
.shareL .under {font-size:100%; color:#888; }
.shareL li {padding-top:4.4ex}
.shareL table {width:100%}
.shareL td.l {vertical-align:top; text-align:right; padding-right:1.6ex; width:14ex; _background:#eef; padding-top:0.6ex;}
.shareL td.l .dropdown-menu * {text-align:left; padding-right:0; padding-top:0.6ex}
.shareL td.r {vertical-align:top; _background:#fef}

#page-presmode .docwide-last-updated { text-align: right; margin-top:2.2em; font-size:80%; }
#page-presmode .docwide-last-updated, #page-presmode .docwide-last-updated * { color:#777 !important; _font-style: italic; }
#page-presmode nav {margin-top:4ex}
#page-presmode nav ol {margin-left:1ex}
#page-presmode nav a {font-size:110%; line-height:1.6em}
#page-presmode main {margin-top:4em}
#page-presmode main article + article {margin-top:6em}
#page-presmode .fvs th, #page-presmode .fvs td {vertical-align:top}
#page-presmode .fvs > tr {border-top:1px solid #ccc; border-bottom:1px solid #ccc}
#page-presmode .fvs > tr > th {width:18ex; font-weight:normal}
#page-presmode .fvs > tr > td {padding-left:2ex}
#page-presmode .fvs > tr > th ,
#page-presmode .fvs > tr > td {padding-top:0.3ex; padding-bottom:0.3ex}
#page-presmode .fvs img {width:100%; max-width:100%}
#page-presmode .fvs td > ul {padding-left:2ex}
#page-presmode *:not(a):not(button) {color:black !important}
#page-presmode .uc.outofscope {color:#c00 !important}
#page-presmode .uc.outofscope sup {color:#c00 !important}
/*#page-presmode .uc.outofscope sup {color:#444 !important}*/
#page-presmode .steps th {white-space:nowrap}
#page-presmode .steps td {width:100%}
#page-presmode .steps * {line-height:1.168em}
#page-presmode .steps .lvl-0 >tbody> tr:not(.ind) td {font-weight:bold; padding-left:0.5ex}
#page-presmode .steps .ind table {margin-left:2ex}
#page-presmode .steps .ind .ind table {margin-left:5ex}
#page-presmode .steps .ind th {font-weight:normal}
#page-presmode .steps .ind td {padding-left:1.2ex}
#page-presmode .fvs a.step:not(:hover) ,
#page-presmode .fvs a.uc:not(:hover) {_color:black; _text-decoration:underline; border-bottom:1px dotted}
#page-presmode .steps .highlight {_font-weight:bold; background:#ffc}

.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;
    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}
.has-spinner.active {    cursor:progress;}
.has-spinner.active .spinner {
    opacity: 1;
    width: auto; /* This doesn't work, just fix for unknown width elements */
}
.has-spinner.btn-xs.active .spinner {   width: 10px;}
.has-spinner.btn-sm.active .spinner {    width: 13px;}
.has-spinner.btn.active .spinner {    width: 16px;}
.has-spinner.btn-lg.active .spinner {    width: 19px;}

button:not(.active) .when-not-active {display:none}
button:not(.active) .when-active {display:inline}
button.active {opacity:0.85}
button.active .when-not-active {display:inline}
button.active .when-active {display:none}

#dynamic-modal .modal-dialog {
    width: 500px;
}
#dynamic-modal .submit {
    text-align: right;
}


