#content {
  margin: 1cm 1.2cm 1cm 1.2cm;
}

#sir-stats {
  .h {
    color: #00c;
  }

  td, th {
    text-align: left;
  }

  pre {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
  }

  pre, td {
    font-size: 12px;
    font-family: monospace;
    line-height: 1.2em;
  }

  section > table {
    margin-bottom: 1cm;
    th {
      padding-right: 4ex;
      line-height: 1.6em;
    }
    td {
      padding-top: 5px;
      padding-boittom: 3px;
    }
    th, td {
      vertical-align: top;
      border-bottom: solid 1px #ccc;
    }
  }

  table table {
    margin-bottom: 4px;
    th {
      font-weight: normal;
    }
    th, td {
      border-bottom: none;
    }
  }

  .unknown {
    color: #c44
  }
}